/**--Preview--*/
.vm-preview{
    background: #fec803;
    height: auto;
    padding: 1.2em;
    margin-right: 20px;
    margin-top: 20px;   
}
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
.clearfix:after{
    clear:both;
}
.vm-sidebar-a,
.vm-sidebar-b{
    display: inline-block;
    float:left;
    width: 45%;
}
.vm-sidebar-a{
    background: #fec803;
}
.vm-preview #prev-img-wrap{
    float: left;
    width: 25%;
    height: 162px;
    max-height: 100%;
    margin-right: 5px;
    overflow: hidden;   
}
.vm-preview #prev-img-wrap img{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}
.vm-preview #prev-details-wrap{
    padding: 0px;
    margin: 0px;
    position: relative;
    vertical-align: middle;
    height: auto;   
}
.vm-preview  #prev-details-wrap h2{
    font-family: helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
}
.vm-general-form{
    padding:0;
    margin:0;
}
/* .vm-general-form table.form-table:nth-of-type(1),
.vm-general-form table.form-table:nth-of-type(2),
.vm-general-form h2{
    display: inline-block;
    float: left;
    width: 48%;
}
.vm-general-form table.form-table:nth-of-type(2){
    background-color: blue;
} */
/**--flipclock--*/
#prev-details-wrap .flip-clock-divider{
    height: 86px;
}
#prev-details-wrap .flip-clock-wrapper ul {
    font-size: 40px;
    height: 60px;
    width: 45px;
}
#prev-details-wrap .flip-clock-wrapper ul li{
    line-height: 60px;
}
#prev-details-wrap  .flip-clock-wrapper ul li a div{
    font-size: 40px;
}
#prev-details-wrap  .flip-clock-wrapper ul li a div div.inn{
    font-size: 40px;
}
#prev-details-wrap  .flip-clock-dot.top{
    top: 20px;
}
/**--Tables--*/
table.table, .table th, .table td {
    border: 1px solid #e6e6e6;
    margin: 0 0 1.5em;
    width: 100%;
}
table.table {
    border-collapse: collapse;
    margin: 0 0 1.5em;
    width: 100%;
}
table.table {
    border-collapse: collapse;
}
.table td, .table th{
	padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.post-type-qqlanding-matches label{
    font-weight: 600;
    display: inline-block;    
}
.post-type-qqlanding-matches input[type=text], .post-type-qqlanding-matches input[type=search],
.post-type-qqlanding-matches input[type=radio],.post-type-qqlanding-matches input[type=tel],
.post-type-qqlanding-matches input[type=time],.post-type-qqlanding-matches input[type=url],
.post-type-qqlanding-matches input[type=week],.post-type-qqlanding-matches input[type=password],
.post-type-qqlanding-matches input[type=checkbox],.post-type-qqlanding-matches input[type=color],
.post-type-qqlanding-matches input[type=date],.post-type-qqlanding-matches input[type=datetime],
.post-type-qqlanding-matches input[type=datetime-local],.post-type-qqlanding-matches input[type=email],
.post-type-qqlanding-matches input[type=month],.post-type-qqlanding-matches input[type=number],
select{
    display: inline-block;
    width: 100%;
}
.post-type-qqlanding-matches .desc{
    font-style: italic;
    margin-top: 5px;
}
.post-type-qqlanding-matches #poststuff .inside{
    margin:0;
    padding:0;
}
.post-type-qqlanding-matches .table{
    border:0;
    margin:0;
}
.post-type-qqlanding-matches .table th{
    border-top: 0;
}
.post-type-qqlanding-matches .table th:first-child,
.post-type-qqlanding-matches .table td:first-child{
    border-left:0;
}
.post-type-qqlanding-matches .table th:last-child,
.post-type-qqlanding-matches .table td:last-child{
    border-right:0;
}