@include font-family('arial_rounded_mt_std_regular', '././assets/fonts/#{$arial_rounded_mt_std_regular}/#{$arial_rounded_mt_std_regular}', 'normal', 'normal');
@include font-family('big_noodle_titling', '././assets/fonts/#{$big_noodle_titling}/#{$big_noodle_titling}', 'normal', 'normal');
@include font-family('noto_sans_bold', '././assets/fonts/#{$noto_sans_bold}/#{$noto_sans_bold}', 'normal', 'bold');
@include font-family('noto_sans_bold_italic', '././assets/fonts/#{$noto_sans_bold_italic}/#{$noto_sans_bold_italic}', 'normal', 'bold');
@include font-family('noto_sans_italic', '././assets/fonts/#{$noto_sans_italic}/#{$noto_sans_italic}', 'italic', 'normal');
@include font-family('noto_sans_regular', '././assets/fonts/#{$noto_sans_regular}/#{$noto_sans_regular}', 'normal', 'normal');
@include font-family('segoe_ui', '././assets/fonts/#{$segoe_ui}/#{$segoe_ui}', 'normal', 'normal');
@include font-family('century_gothic', '././assets/fonts/#{$century_gothic}/#{$century_gothic}', 'normal', 'normal');

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
