ul, ol {
<<<<<<< HEAD
	margin: 0 0 1.5em 0.75em;
	padding-left: 0px;
}

ul {
	list-style: none;
=======
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
>>>>>>> b6d2702... initial commit
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
