@import "variables-site/variables-site";
@import "mixins/mixins-master";

/**--assets*/
.full-wh,
.full-wrap{
	height: 320px;
	margin: 0;
	padding: 0;
}
.full-wh{
	background-color: $color__ea;
	font-family:'arial_rounded_mt_std_regular',sans-serif;
	display: table;
	overflow: hidden;
	width: 100%;
	.full-wrap{
		display: table-cell;
		vertical-align: middle;
	}
}
#qqlanding-lang{
	background-color: transparent;
	a{
		outline: none;
	}
	button{
		background-color: transparent;
		color: $color__background-pre;
		&:active,&:hover,&:focus{
			border-color: transparent;
			color:$color__fd;
		}
		&:focus{
			box-shadow: none;
		}
		img{
			display: inline-block;
		}
	}
	.dropdown-menu{
		min-width: 5rem;
		li{
			display: inline-block;
			text-align: inherit;
			font-weight: 400;
			white-space: nowrap;
			padding: 0.025rem 0.5rem;
			width: auto;
			line-height: 1.2;
			position: relative;
			vertical-align: middle;
			height: 13px;
		}
	}
}
/**--Enter site*/
.qqlanding-sites{
	line-height: 1.2;
	/**Site-Info-----*/
	.site-top-info,
	.site-footer-info{
		border-bottom:1px solid transparent;
		padding:0px 10px;
		line-height: 1.5;
		position: relative;
		#social_media,
		ul#social_media{
			list-style-type: none;
			margin:0;
			padding:0;
			&.sm-circle{
				li{
					margin-right: 5px;
					a{
						background-color: $color__white;
						border-radius: 50%;
						line-height: 24px;
						width: 24px;
						@include ease-in-out();
						&:hover{
							&[class*="icon-facebook"]{background-color: #4267b2;}
							&[class*="twitter"]{background-color: #1da1f2;}
							&[class*="instagram"]{background-color: #c32aa3;}
							&[class*="linkedin"]{background-color: #007bb5;}
							&[class*="youtube"]{background-color: #ff0000;}
							&[class*="google-plus"]{background-color: #dd4b39;}
							&[class*="pinterest"]{background-color: #bd081c;}
							&[class*="rss"]{background-color: #FB6405;}
							&[class*="flickr"]{background-color: #f40083;}
							i{
								color: $color__white !important;
							}
						}
						i{
							color: $color__22;
						}
					}
				}
				i{
					&[class*='fa-']{
						@include font-size(0.8);
					}
				}
			}
			li{
				display: inline-block;
				position: relative;
				padding: 0.45em 0;
				margin-bottom: 0em;
				a{
					display: block;
					line-height: 30px;
					padding-right: 3px;
					padding-left: 3px;
					text-align: center;
					width: 30px;
					vertical-align: middle;
					@include ease-in-out();
					&:hover{
						background-color:$color__white;
						i{
							&[class*="facebook"]{color: #4267b2;}
							&[class*="twitter"]{color: #1da1f2;}
							&[class*="instagram"]{color: #c32aa3;}
							&[class*="linkedin"]{color: #007bb5;}
							&[class*="youtube"]{color: #ff0000;}
							&[class*="google-plus"]{color: #dd4b39;}
							&[class*="pinterest"]{color: #bd081c;}
							&[class*="rss"]{color: #FB6405;}
							&[class*="flickr"]{color: #f40083;}
						}
					}
				}
				i{
					&[class*='fa-']{
						@include font-size(1.025);
						color:$color__white;
					}
				}
			}
		}
	}
	.site-footer-info{
		#social_media,
		ul#social_media{
			&.sm-circle{
				li{
					a{
						line-height: 35px;
						width: 35px;
					}
				}
			}
		}
	}

	/**Enter-site-----*/
	.btn-entersite{
		color: $color__white !important;
		&.bg_color_288{
			border-color:$qq288_default;
			&:hover,&:focus{
				background:$qq288_blue_stone;
				border-color:$qq288_blue_stone;
			}
		}
		&.bg_color_188{
			border-color:$qq188_default;
			&:hover,&:focus{
				background:$qq188_reso_blue;
				border-color:$qq188_reso_blue;
			}
		}
		&.bg_color_101{
			border-color:$qq101_default;
			&:hover,&:focus{
				background:$qq101_celtic;
				border-color:$qq101_celtic;
			}
		}
		&.bg_color_1x2{
			border-color:$qq1x2_blue_ribbon;
			&:hover,&:focus{
				background:$qq1x2_default;
				border-color:$qq1x2_default;
			}
		}
		&.bg_color_724{
			border-color:$qq724_default;
			&:hover,&:focus{
				background:$color__fd;
				border-color:$color__fd;
			}
		}
		&.bg_color_fortuna{
			border-color:$qqfortuna_default;
			&:hover,&:focus{
				background:$qqfortuna_mojo;
				border-color:$qqfortuna_mojo;
			}
		}
		&.bg_color_801{
			border-color:$qq801_default;
			&:hover,&:focus{
				background:$qq801_congress_blue;
				border-color:$qq801_congress_blue;
			}
		}
		&.bg_color_882{
			border-color:$qq882_default;
			&:hover,&:focus{
				background:$qq882_razzmatazz;
				border-color:$qq882_razzmatazz;
			}
		}
		&.bg_color_808{
			border-color:$qq808_di_serria;
			&:hover,&:focus{
				background:$qq808_default;
				border-color:$qq808_default;
			}
		}
		&.bg_color_828{
			border-color:$qq828_default;
			&:hover,&:focus{
				background:$qq828_fire;
				border-color:$qq828_fire;
			}
		}
	}
}
/**--Providers*/
.provider-title{
	position: absolute;
	top: -12px;
	background: $color__e6;
	color: $color__22;
	@include font-size(0.875);
	font-weight: 600;
	margin: 0;
	padding: 2px 7px;
	text-transform: uppercase;
}
.provider-item{
	cursor: pointer;
	display: inline;
	float: left;
	margin-bottom: 3px;
	> i{
		display: block;
		font-size: 0;
		height: 38px;
		width: 80px;
		text-indent: -999999px;
	}
}
.provider-group{
	position:relative;
	flex-direction:column;
	flex:auto;
	display:-ms-flexbox;
	display:flex;
	&[class*='-category'],
	&[class*='-default']{
		border:1px solid $color__7f;
		border-radius:5px;
		margin-bottom:18px;
		padding:8px 10px;
	}
	&[class*='-license']{
		.provider-item{
			> i{
				background: url('../../assets/images/providers/ico_reco-g.png') no-repeat;
			}
		}
		.pagcor{
			background-position:0 0;width:140px;
		}
	}

	/**
	 * prov-cat
	 *----------*/
	&[class*='-category']{
		.bet368{width:86px;background-position:3px -302px;}
		.opus{width:138px;background-position:5px -2001px;}
		.onework{width:105px;background-position:3px -1517px;}
		.gameplay{width:130px;background-position:5px -1420px;}
		.gd{background-position:5px -960px;}
		.gp{background-position:5px -906px;}
		.allbet{width:90px;background-position:5px -1117px;}
		.ag{width:90px;background-position:3px -1317px;}
		.og{width:58px;background-position:5px -1904px;}
		.royal{width:90px;background-position:5px -1218px;}
		.playtech{width:105px;background-position:3px -731px;}
		.ebet{width:105px;background-position:-167px -41px;}
		.spadegaming{width:150px;background-position:3px -648px;}
		.ttg{width:110px;background-position:5px -2267px;}
		.gameos{width:120px;background-position:5px -2189px;}
		.mg{width:130px;background-position:3px -2100px;}
		.betsoft{width:90px;background-position:3px -2436px;}
		.habanero{width:120px;background-position:3px -1611px;}
		.isin4d{background-position:3px -1706px;}
		.txbet{background-position:3px -394px;}
		.idn{width:92px;background-position:3px -806px;}
		.xo{width:116px;background-position:3px -2345px;}
		.txbet4d{width:100px;background-position:-158px -144px;}
		.txbet6d{width:100px;background-position:-158px -240px;}
		.lottery{width:140px;height:40px;background-position:3px -160px;}
		.saba{background-position:3px -209px;}
		.ok368{background-position:-158px -352px;}
		.pragmaticplay{background-position:-158px -412px;width: 90px;}
		.thegamingplatform{background-position:-158px -556px;width: 127px;}
	}
	&[class*='-default']{
		&.gray{
			.allbet{width:90px;background-position:5px -1066px;}
			.ag{width:90px;background-position:3px -1268px;}
			.bet368{width:86px;background-position:3px -256px;}
			.betsoft{width:90px;background-position:3px -2392px;}
			.ebet{width:105px;background-position:-167px 4px;}
			.gameplay{width:130px;background-position:5px -1368px;}
			.gd{background-position:5px -960px;}
			.gp{background-position:5px -855px;}
			.gameos{width:120px;background-position:5px -2189px;}
			.habanero{width:120px;background-position:3px -1562px;}
			.isin4d{background-position:3px -1655px;}
			.idn{width:92px;background-position:3px -770px;}
			.lottery{width:140px;height:40px;background-position:3px -117px;}
			.mg{width:130px;background-position:3px -2053px;}
			.og{width:58px;background-position:5px -1853px;}
			.ok368{background-position:-158px -291px;}
			.opus{width:138px;background-position:5px -1953px;}
			.onework{width:105px;background-position:3px -1468px;}
			.playtech{width:105px;background-position:3px -693px;}
			.pragmaticplay{background-position:-158px -412px;width: 90px;}
			.royal{width:90px;background-position:5px -1167px;}
			.saba{background-position:3px -209px;}
			.spadegaming{width:150px;background-position:3px -600px;}
			.ttg{width:110px;background-position:5px -2231px;}
			.txbet{background-position:3px -351px;}
			.txbet4d{width:100px;background-position:-158px -95px;}
			.txbet6d{width:100px;background-position:-158px -192px;}
			.thegamingplatform{background-position:-158px -506px;width: 125px;}
			.xo{width:116px;background-position:3px -2306px;}
		}
		&.white{
			.allbet{width:90px;background-position:5px -1066px;}
			.ag{width:90px;background-position:3px -1268px;}
			.bet368{width:86px;background-position:3px -301px;}
			.betsoft{width:90px;background-position:3px -2392px;}
			.ebet{width:98px;background-position:-160px -5px;}
			.gameplay{width:130px;background-position:5px -1368px;}
			.gd{background-position:5px -960px;}
			.gp{width: 95px;background-position:5px -855px;}
			.gameos{width:120px;background-position:5px -2189px;}
			.habanero{width:120px;background-position:3px -1562px;}
			.isin4d{background-position:3px -1655px;}
			.idn{width:92px;background-position:3px -770px;}
			.lottery{width:140px;height:40px;background-position:3px -117px;}
			.mg{width:130px;background-position:3px -2053px;}
			.og{width:58px;background-position:5px -1853px;}
			.ok368{width: 70px;background-position:-173px -250px;}
			.opus{width:138px;background-position:5px -1953px;}
			.onework{width:105px;background-position:3px -1468px;}
			.playtech{width:105px;background-position:3px -693px;}
			.pragmaticplay{background-position:-158px -353px;width: 90px;}
			.royal{width:90px;background-position:5px -1167px;}
			.saba{background-position:3px -209px;}
			.spadegaming{width:150px;background-position:3px -600px;}
			.ttg{width:110px;background-position:5px -2231px;}
			.txbet{width:50px;background-position:-3px -395px;}
			.txbet4d{width:100px;background-position:-158px -95px;}
			.txbet6d{width:100px;background-position:-158px -171px;}
			.thegamingplatform{background-position:-158px -457px;width: 125px;}
			.xo{width:116px;background-position:3px -2306px;}
		}
	}

	/**
	* prov-default banks
	*--------------------*/
	&[class*='-banks']{
		.provider-item{
			> i{
				background: url('../../assets/images/providers/ico_bank.png') no-repeat;
			}
		}
		.bank-indo{
			.provider-item{
				.bank_bri{background-position: 3px -406px;width: 115px;}
				.bca{background-position: 3px -308px;width: 85px;}
				.bni{background-position: 3px -188px;width: 83px;}
				.danamon{background-position: 3px -73px;width: 135px;}
				.mandiri{background-position: 3px -495px;width: 98px;}
			}
		}
		.bank-malaysia{
			.affinbank{background-position: 3px -3604px;width: 125px;}
			.alliance_bank{background-position: 3px -3688px;width: 120px;}
			.ambank_group{background-position: 3px -3773px;width: 120px;}
			.bankrakyat{background-position: 3px -3856px;width: 135px;}
			.citibank{background-position: 3px -3940px;width: 120px;}
			.hongleong_bank{background-position: 3px -4023px;width: 127px;}
			.hsbc{background-position: 3px -4107px;width: 120px;}
			.ocbc_bank{background-position: 3px -4190px;width: 120px;}
			.rhb{background-position: 3px -4277px;width: 90px;}
			.uob{background-position: 3px -4361px;width: 98px;}
		}
		.bank-thailand{
			.bangkok_bank{background-position: 3px -601px;width: 125px;}
			.gsb{background-position: 3px -688px;width: 102px;}
			.kasikorn_bank{background-position: 3px -775px;width: 123px;}
			.krungsri{background-position: 3px -863px;width: 94px;}
			.krungthai_bank{background-position: 3px -950px;width: 133px;}
			.scb{background-position: 3px -1040px;width: 90px;}
		}
		.bank-vietnam{
			.acb{background-position: 3px -3016px;width: 70px;}
			.bidv{background-position: 3px -3100px;width: 108px;}
			.donga{background-position: 3px -3185px;width: 125px;}
			.sacombank{background-position: 3px -3265px;width: 128px;}
			.techcombank{background-position: 3px -3350px;width: 130px;}
			.vietinbank{background-position: 3px -3434px;width: 127px;}
			.vietcombank{background-position: 3px -3520px;width: 120px;}
		}
		.bank-china{
			.bos{background-position: 3px -2183px;width: 97px;}
			.ibank{background-position: 3px -1305px;width: 115px;}
			.spd_bank{background-position: 3px -1392px;width: 109px;}
			.ccbank{background-position: 3px -1480px;width: 120px;}
			.b_beijing{background-position: 3px -1568px;width: 125px;}
			.huaxia_bank{background-position: 3px -1655px;width: 127px;}
			.pinganbank{background-position: 3px -1745px;width: 131px;}
			.maybank{background-position: 3px -1840px;width: 120px;}
			.public_bank{background-position: 3px -1928px;width: 120px;}
			.cimb{background-position: 3px -2013px;width: 118px;}
			.ce_bank{background-position: 3px -2095px;width: 130px;}
			.b_china{background-position: 3px -2183px;width: 97px;}
			.icbc{background-position: 3px -2268px;width: 81px;}
			.abc{background-position: 3px -2350px;width: 127px;}
			.cc_bank{background-position: 3px -2438px;width: 127px;}
			.cm_bank{background-position: 3px -2520px;width: 101px;}
			.bank_com{background-position: 3px -2600px;width: 125px;}
			.cminshing_bank{background-position: 3px -2680px;width: 130px;}
			.crm_bank{background-position: 3px -2765px;width: 130px;}
			.psbchina{background-position: 3px -2848px;width: 130px;}
		}
	}

	/**
	* prov-default banks
	*--------------------*/
	&[class*='-network']{
		.provider-item{
			> i{
				background: url('../../assets/images/providers/ico_net.png') no-repeat;
			}
		}
		.network-indo{
			.provider-item{
				margin-bottom: 25px;
				.sctv{background-position: -16px -10px;width: 125px;height:41px;}
				.orangetv{background-position: -11px -68px;width: 160px;height:41px;}
				.k_vision{background-position: -8px -133px;width: 210px;height:41px;}
				.nexmedia{background-position: -14px -195px;width: 119px;height:41px;}
				.indovision{background-position: -16px -264px;width: 90px;height:41px;}
				.supersoccer{background-position: -16px -338px;width: 138px;height:41px;}
				.fox_sports{background-position: -16px -400px;width: 89px;height:55px;}
			}
		}
		.network-malaysia{
			.provider-item{
				margin-bottom: 25px;
				.astro{background-position: -16px -477px;width: 89px;height:41px;}
			}
		}
		.network-thailand{
			.provider-item{
				margin-bottom: 25px;
				.pptv_th{background-position: -16px -538px;width: 89px;height:41px;}
				.truev_th{background-position: -16px -588px;width: 130px;height:41px;}
			}
		}
		.network-vietnam{
			.provider-item{
				margin-bottom: 25px;
				.vn_tv{background-position: -16px -650px;width: 95px;height:45px;}
				.kplus{background-position: -16px -723px;width: 65px;height:45px;}
			}
		}
	}
}