@import "variables-site/variables-site";
@import "mixins/mixins-master";
@include font-family('century_gothic', '../fonts/#{$century_gothic}/#{$century_gothic}', 'normal', 'normal');
@include font-family('century_gothic_bold', '../fonts/#{$century_gothic_bold}/#{$century_gothic_bold}', 'normal', 'normal');
//@import "typography/typography";


/**
 * Page: Videos
 *-------------------------*/
 #matchWrap{
 	margin:0;
	.match-entry-title{
		@include font-size(1.5);
		font-family: noto_sans_regular;
		color: $color__white;
		text-shadow: 1px 0px 8px #b8572c;
		text-transform: uppercase;
		text-align: center;
	}
	.match-italic{
		font-family: noto_sans_italic;
	}
	.match-timer-title{
		@include font-size(1.3);
	}
	.match-entry-tdesc{
		color: #edbb00;
		font-style: italic;
	}

 	/**--flipclock--*/
 	.flip-clock-wrapper{
 		margin: auto;
		ul{
		    margin: 3px;
		    li{
		    	a div div.inn{
		    		background-color: #fff;
		    		color: #4c4c4a;
		    		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
		    	}
		    }
		}
		.flip-clock-divider{
			height: 86px;
			width: 15px;
			.flip-clock-label{
				top:auto;
				color: #fff;
				text-shadow: none;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
		&.grid-timer-2{
			ul{
			    font-size: 47px;
			    height: 58px;
			    width: 50px;
				li{
		    		line-height: 60px;
			    	a div,
			    	a div div.inn{
			    		font-size: 47px;
			    	}
				}
			}
			.flip-clock-divider{
				.flip-clock-label{
					bottom: -5px;
					right: -80px;
					font-size: 14px;
				}
				&.minutes{
					.flip-clock-label{
						right: -90px;
					}
				}
				&.seconds{
					.flip-clock-label{
						right: -94px;
					}
				}
			}
		}
		&.grid-timer-3{
			margin: auto;
			ul{
			    font-size: 29px;
			    height: 48px;
			    width: 40px;
			    li{
			    	line-height: 50px;
			    	a div,
			    	a div div.inn{
			    		font-size: 29px;
			    	}
			    }
			}
			.flip-clock-divider{
				height: 86px;
				width: 15px;
				.flip-clock-label{
					top:auto;
					bottom: 5px;
					right: -55px;
					font-size: 12px;
				}
				&.minutes{
					.flip-clock-label{
						right: -63px;
					}
				}
				&.seconds{
					.flip-clock-label{
						right: -64px;
					}
				}
			}
		}
		.flip-clock-dot{
			display: none;
			&.top{
				top: 20px;
			}
		}
 	}
 	
 	table, th, td{
		border-color: #d6e935;
		border-width: 2px;
 	}
 	.table thead th{
 		padding: 0.3em;
	    text-transform: uppercase;
	    @include font-size(1);
 	}
 	.table th, .table td{
	 	padding: 0.5em 0.3em;
	    font-family: noto_sans_regular;
 	}
 	th{
 		background-color: #222;
 		color: #d6e935;
 		font-weight: bold;
 	}
 	td{
 		@include font-size(0.9375);
 		line-height: 1.3;
 		word-break: break-all;
 		word-spacing: normal;
 	}
 }


#videoWrap{
	#video{
		position: relative;
	}
	.embed-container { 
		position: relative; 
		padding-bottom: 56.25%;
		overflow: hidden;
		max-width: 100%;
		height: auto;

		iframe,
		object,
		embed,
		video { 
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		video{
			background-color: #000;
			max-width:100%;
		}
	} 
	.vid-card{
	    position: relative;
	    background-color: #f7f7f7;
	    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.35);
	    word-wrap: break-word;
	    &:hover,&:focus{
	    	background-color: #f4f4f4;
	    	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.35);
	    	#vid-oflow{
	    		background-color: rgba(14, 14, 14, 0.45);
		    	i{
		    		color:$color__white;
		    	}
	    	}
	    }
	    &.vgrid-1{
	    	.vid-img-wrap{
	    		height: 100%;
	    	}
	    }
	    &.vgrid-3{
			.vid-img-wrap,.vid-img{
				min-height: 287px;
				max-height: 287px;
			}
	    }
	    #vid-oflow{
	    	background-color: rgba(14, 14, 14, 0.15);
	    	display: block;
	    	height: 100%;
	    	position: absolute;
	    	top: 0;
	    	width: 100%;
	    	> i{
				position: absolute;
				top: 28%;
				bottom: 28%;
				right: 25%;
				left: 25%;
				color: $color__e6;
				text-align: center;
				height: 0;
				line-height: 1;
	    	}
	    }
	    .vid-img-wrap{
	    	position: relative;
	    	overflow: hidden;
	    }
	    .vid-img{
			display: block;
			object-fit: cover;
			object-position: center;
			width: 100%;
	    }
	    .vid-body,.vid-footer{
	    	color: $color__white;
	    	padding: 0.6em;
	    	position: relative;
	    }
	    .vid-pos-abs{
	    	background: rgba(183, 28, 32, 0.7);
	    	bottom: 0;
	    }
	    .vid-title{
			margin: 0rem 0px 0rem;
			@include font-size(1);
			font-weight: 600;
			line-height: 1.5;
	    }
	    .vid-footer{
	    	i{
	    		margin-right: 5px;
	    	}
	    	i,small{
	    		display: inline-block;
	    	}
	    }
	}

	.modal-btn{
		position: fixed;
		bottom: 0.75%;
		right: 8%;
		cursor: pointer;
	}
}

@media ( min-width: 968px ){
	.match-timer-title{
		margin: 20px auto;
	}
 	.td-w100{
 		width: 100px;
 	}
}

@media only screen and (min-width: 968px) and (max-width: 1024px){
	
	/**--flipclock--*/
	.flip-clock-wrapper{
		margin: auto;
		&.grid-timer-2{
			ul{
				font-size: 30px !important;
				height: 42px !important;
				width: 38px !important;
				li{
					line-height: 45px !important;
					a div,
					a div div.inn{
						font-size: 30px !important;
					}
				}
			}
			.flip-clock-divider{
				.flip-clock-label{
					bottom: 18px !important;
					right: -45px !important;
					font-size: 11px !important;
				}
				&.minutes{
					.flip-clock-label{
						right: -50px !important;
					}
				}
				&.seconds{
					.flip-clock-label{
						right: -50px !important;
					}
				}
			}
		}
		&.grid-timer-3{
			ul{
				font-size: 20px !important;
				height: 32px !important;
				width: 28px !important;
				li{
					line-height: 35px !important;
					a div,
					a div div.inn{
						font-size: 20px !important;
					}
				}
			}
			.flip-clock-divider{
				.flip-clock-label{
					bottom: 25px !important;
					right: -45px !important;
					font-size: 10px !important;
				}
				&.minutes{
					.flip-clock-label{
						right: -50px !important;
					}
				}
				&.seconds{
					.flip-clock-label{
						right: -50px !important;
					}
				}
			}
		}
	}
}

@media only screen and (min-width:320px) and (max-width:480px){
	/**--flipclock--*/
	.flip-clock-wrapper{
		margin: auto;
		&.grid-timer-2{
			ul{
				font-size: 21px !important;
				height: 35px !important;
				width: 25px !important;
				li{
					line-height: 34px !important;
					a div,
					a div div.inn{
					font-size: 21px !important;
					}
				}
			}
			.flip-clock-divider{
				.flip-clock-label{
					bottom: 25px !important;
					right: -47px !important;
					font-size: 11px !important;
				}
				&.minutes{
					.flip-clock-label{
						right: -54px !important;
					}
				}
				&.seconds{
					.flip-clock-label{
						right: -50px !important;
					}
				}
			}
		}
		&.grid-timer-3{
			ul{
				font-size: 21px !important;
				height: 35px !important;
				width: 21px !important;
				li{
					line-height: 34px !important;
					a div,
					a div div.inn{
					font-size: 21px !important;
					}
				}
			}
			.flip-clock-divider{
				.flip-clock-label{
					bottom: 25px !important;
					right: -47px !important;
					font-size: 11px !important;
				}
				&.minutes{
					.flip-clock-label{
						right: -54px !important;
					}
				}
				&.seconds{
					.flip-clock-label{
						right: -50px !important;
					}
				}
			}
		}
	}
}

@media only screen and (min-width:360px) and (max-width:580px){
	/**--flipclock--*/
	.flip-clock-wrapper{
		margin: auto;
		&.grid-timer-2{
			ul{
				font-size: 28px !important;
				height: 40px !important;
				width: 35px !important;
				li{
					line-height: 40px !important;
					a div,
					a div div.inn{
						font-size: 28px !important;
					}
				}
			}
			.flip-clock-divider{
				.flip-clock-label{
					right: -60px !important;
				}
				&.minutes{
					.flip-clock-label{
						right: -71px !important;
					}
				}
				&.seconds{
					.flip-clock-label{
						right: -71px !important;
					}
				}
			}
		}
		&.grid-timer-3{
			ul{
				font-size: 28px !important;
				height: 40px !important;
				width: 25px !important;
				li{
					line-height: 40px !important;
					a div,
					a div div.inn{
					font-size: 28px !important;
					}
				}
			}
		}
	}
}

@media only screen and (min-width:680px) and (max-width:768px){
	/**--flipclock--*/
	.flip-clock-wrapper{
		margin: auto;
		&.grid-timer-2{
			ul{
				font-size: 35px !important;
				height: 48px !important;
				width: 38px !important;
				li{
					line-height: 48px !important;
					a div,
					a div div.inn{
						font-size: 35px !important;
					}
				}
			}
			.flip-clock-divider{
				.flip-clock-label{
					right: -67px !important;
				}
				&.minutes{
					.flip-clock-label{
						right: -75px !important;
					}
				}
				&.seconds{
					.flip-clock-label{
						right: -75px !important;
					}
				}
			}
		}
		&.grid-timer-3{
			ul{
				font-size: 30px !important;
				height: 43px !important;
				width: 28px !important;
				li{
					line-height: 45px !important;
					a div,
					a div div.inn{
					font-size: 30px !important;
					}
				}
			}
		}
	}
}


