@font-face { font-family: "century_gothic"; src: url("../fonts/century_gothic/century_gothic.eot?") format("eot"); src: url("../fonts/century_gothic/century_gothic.woff2") format("woff2"); src: url("../fonts/century_gothic/century_gothic.woff") format("woff"); src: url("../fonts/century_gothic/century_gothic.ttf") format("truetype"); font-style: "normal"; font-weight: "normal"; }
@font-face { font-family: "century_gothic_bold"; src: url("../fonts/century_gothic_bold/century_gothic_bold.eot?") format("eot"); src: url("../fonts/century_gothic_bold/century_gothic_bold.woff2") format("woff2"); src: url("../fonts/century_gothic_bold/century_gothic_bold.woff") format("woff"); src: url("../fonts/century_gothic_bold/century_gothic_bold.ttf") format("truetype"); font-style: "normal"; font-weight: "normal"; }
/** Page: Videos -------------------------*/
#videoContent { position: relative; overflow: hidden; }
#videoContent .sec-video-title { color: #b71d1b; font-family: 'century_gothic_bold'; font-size: 38px; font-size: 2.375rem; text-transform: uppercase; }
#videoContent .sec-video-title span { display: inline-block; position: relative; top: -5px; }
#videoContent .sec-video-title span > img { display: inline-block; }
#videoContent .cont-videos-entry { font-family: 'century_gothic'; font-weight: 500; }
#videoContent ul li, #videoContent ol li { margin: 8px 0; }

#matchWrap { margin: 0; /**--flipclock--*/ }
#matchWrap .match-entry-title { font-size: 24px; font-size: 1.5rem; font-family: noto_sans_regular; color: #fff; text-shadow: 1px 0px 8px #b8572c; text-transform: uppercase; text-align: center; }
#matchWrap .match-italic { font-family: noto_sans_italic; }
#matchWrap .match-timer-title { font-size: 20.8px; font-size: 1.3rem; }
#matchWrap .match-entry-tdesc { color: #edbb00; font-style: italic; }
#matchWrap .flip-clock-wrapper { margin: auto; }
#matchWrap .flip-clock-wrapper ul { margin: 3px; }
#matchWrap .flip-clock-wrapper ul li a div div.inn { background-color: #fff; color: #4c4c4a; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }
#matchWrap .flip-clock-wrapper .flip-clock-divider { height: 86px; width: 15px; }
#matchWrap .flip-clock-wrapper .flip-clock-divider .flip-clock-label { top: auto; color: #fff; text-shadow: none; font-size: 12px; text-transform: uppercase; font-weight: 600; }
#matchWrap .flip-clock-wrapper.grid-timer-2 ul { font-size: 47px; height: 58px; width: 50px; }
#matchWrap .flip-clock-wrapper.grid-timer-2 ul li { line-height: 60px; }
#matchWrap .flip-clock-wrapper.grid-timer-2 ul li a div, #matchWrap .flip-clock-wrapper.grid-timer-2 ul li a div div.inn { font-size: 47px; }
#matchWrap .flip-clock-wrapper.grid-timer-2 .flip-clock-divider .flip-clock-label { bottom: -5px; right: -80px; font-size: 14px; }
#matchWrap .flip-clock-wrapper.grid-timer-2 .flip-clock-divider.minutes .flip-clock-label { right: -90px; }
#matchWrap .flip-clock-wrapper.grid-timer-2 .flip-clock-divider.seconds .flip-clock-label { right: -94px; }
#matchWrap .flip-clock-wrapper.grid-timer-3 { margin: auto; }
#matchWrap .flip-clock-wrapper.grid-timer-3 ul { font-size: 29px; height: 48px; width: 40px; }
#matchWrap .flip-clock-wrapper.grid-timer-3 ul li { line-height: 50px; }
#matchWrap .flip-clock-wrapper.grid-timer-3 ul li a div, #matchWrap .flip-clock-wrapper.grid-timer-3 ul li a div div.inn { font-size: 29px; }
#matchWrap .flip-clock-wrapper.grid-timer-3 .flip-clock-divider { height: 86px; width: 15px; }
#matchWrap .flip-clock-wrapper.grid-timer-3 .flip-clock-divider .flip-clock-label { top: auto; bottom: 5px; right: -55px; font-size: 12px; }
#matchWrap .flip-clock-wrapper.grid-timer-3 .flip-clock-divider.minutes .flip-clock-label { right: -63px; }
#matchWrap .flip-clock-wrapper.grid-timer-3 .flip-clock-divider.seconds .flip-clock-label { right: -64px; }
#matchWrap .flip-clock-wrapper .flip-clock-dot { display: none; }
#matchWrap .flip-clock-wrapper .flip-clock-dot.top { top: 20px; }
#matchWrap table, #matchWrap th, #matchWrap td { border-color: #d6e935; border-width: 2px; }
#matchWrap .table thead th { padding: 0.3em; border-color: #d6e935; font-family: helvetica; text-transform: uppercase; font-size: 16px; font-size: 1rem; }
#matchWrap .table th, #matchWrap .table td { padding: 0.5em 0.3em; font-family: noto_sans_regular; }
#matchWrap th { background-color: #222; color: #d6e935; font-weight: bold; }
#matchWrap td { font-size: 15px; font-size: 0.9375rem; line-height: 1.3; word-break: break-all; word-spacing: normal; }

#videoWrap #video { position: relative; }
#videoWrap .embed-container { position: relative; padding-bottom: 56.25%; overflow: hidden; max-width: 100%; height: auto; }
#videoWrap .embed-container iframe, #videoWrap .embed-container object, #videoWrap .embed-container embed, #videoWrap .embed-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
#videoWrap .embed-container video { background-color: #000; max-width: 100%; }
#videoWrap .vid-card { position: relative; background-color: #f7f7f7; box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.35); word-wrap: break-word; }
#videoWrap .vid-card:hover, #videoWrap .vid-card:focus { background-color: #f4f4f4; box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.35); }
#videoWrap .vid-card:hover #vid-oflow, #videoWrap .vid-card:focus #vid-oflow { background-color: rgba(14, 14, 14, 0.45); }
#videoWrap .vid-card:hover #vid-oflow i, #videoWrap .vid-card:focus #vid-oflow i { color: #fff; }
#videoWrap .vid-card.vgrid-1 .vid-img-wrap { height: 100%; }
#videoWrap .vid-card.vgrid-3 .vid-img-wrap, #videoWrap .vid-card.vgrid-3 .vid-img { min-height: 287px; max-height: 287px; }
#videoWrap .vid-card #vid-oflow { background-color: rgba(14, 14, 14, 0.15); display: block; height: 100%; position: absolute; top: 0; width: 100%; }
#videoWrap .vid-card #vid-oflow > i { position: absolute; top: 28%; bottom: 28%; right: 25%; left: 25%; color: #e6e6e6; text-align: center; height: 0; line-height: 1; }
#videoWrap .vid-card .vid-img-wrap { position: relative; overflow: hidden; }
#videoWrap .vid-card .vid-img { display: block; object-fit: cover; object-position: center; width: 100%; }
#videoWrap .vid-card .vid-body, #videoWrap .vid-card .vid-footer { color: #fff; padding: 0.6em; position: relative; }
#videoWrap .vid-card .vid-pos-abs { background: rgba(183, 28, 32, 0.7); bottom: 0; }
#videoWrap .vid-card .vid-title { margin: 0rem 0px 0rem; font-size: 16px; font-size: 1rem; font-weight: 600; line-height: 1.5; }
#videoWrap .vid-card .vid-footer i { margin-right: 5px; }
#videoWrap .vid-card .vid-footer i, #videoWrap .vid-card .vid-footer small { display: inline-block; }
#videoWrap .modal-btn { position: fixed; bottom: 0.75%; right: 8%; cursor: pointer; }

@media (min-width: 968px) { .match-timer-title { margin: 20px auto; }
  .td-w100 { width: 100px; } }
@media only screen and (min-width: 968px) and (max-width: 1024px) { /**--flipclock--*/
  .flip-clock-wrapper { margin: auto; }
  .flip-clock-wrapper.grid-timer-2 ul { font-size: 30px !important; height: 42px !important; width: 38px !important; }
  .flip-clock-wrapper.grid-timer-2 ul li { line-height: 45px !important; }
  .flip-clock-wrapper.grid-timer-2 ul li a div, .flip-clock-wrapper.grid-timer-2 ul li a div div.inn { font-size: 30px !important; }
  .flip-clock-wrapper.grid-timer-2 .flip-clock-divider .flip-clock-label { bottom: 18px !important; right: -45px !important; font-size: 11px !important; }
  .flip-clock-wrapper.grid-timer-2 .flip-clock-divider.minutes .flip-clock-label { right: -50px !important; }
  .flip-clock-wrapper.grid-timer-2 .flip-clock-divider.seconds .flip-clock-label { right: -50px !important; }
  .flip-clock-wrapper.grid-timer-3 ul { font-size: 20px !important; height: 32px !important; width: 28px !important; }
  .flip-clock-wrapper.grid-timer-3 ul li { line-height: 35px !important; }
  .flip-clock-wrapper.grid-timer-3 ul li a div, .flip-clock-wrapper.grid-timer-3 ul li a div div.inn { font-size: 20px !important; }
  .flip-clock-wrapper.grid-timer-3 .flip-clock-divider .flip-clock-label { bottom: 25px !important; right: -45px !important; font-size: 10px !important; }
  .flip-clock-wrapper.grid-timer-3 .flip-clock-divider.minutes .flip-clock-label { right: -50px !important; }
  .flip-clock-wrapper.grid-timer-3 .flip-clock-divider.seconds .flip-clock-label { right: -50px !important; } }
@media only screen and (min-width: 320px) and (max-width: 480px) { /**--flipclock--*/
  .flip-clock-wrapper { margin: auto; }
  .flip-clock-wrapper.grid-timer-2 ul { font-size: 21px !important; height: 35px !important; width: 25px !important; }
  .flip-clock-wrapper.grid-timer-2 ul li { line-height: 34px !important; }
  .flip-clock-wrapper.grid-timer-2 ul li a div, .flip-clock-wrapper.grid-timer-2 ul li a div div.inn { font-size: 21px !important; }
  .flip-clock-wrapper.grid-timer-2 .flip-clock-divider .flip-clock-label { bottom: 25px !important; right: -47px !important; font-size: 11px !important; }
  .flip-clock-wrapper.grid-timer-2 .flip-clock-divider.minutes .flip-clock-label { right: -54px !important; }
  .flip-clock-wrapper.grid-timer-2 .flip-clock-divider.seconds .flip-clock-label { right: -50px !important; }
  .flip-clock-wrapper.grid-timer-3 ul { font-size: 21px !important; height: 35px !important; width: 21px !important; }
  .flip-clock-wrapper.grid-timer-3 ul li { line-height: 34px !important; }
  .flip-clock-wrapper.grid-timer-3 ul li a div, .flip-clock-wrapper.grid-timer-3 ul li a div div.inn { font-size: 21px !important; }
  .flip-clock-wrapper.grid-timer-3 .flip-clock-divider .flip-clock-label { bottom: 25px !important; right: -47px !important; font-size: 11px !important; }
  .flip-clock-wrapper.grid-timer-3 .flip-clock-divider.minutes .flip-clock-label { right: -54px !important; }
  .flip-clock-wrapper.grid-timer-3 .flip-clock-divider.seconds .flip-clock-label { right: -50px !important; } }
@media only screen and (min-width: 360px) and (max-width: 580px) { /**--flipclock--*/
  .flip-clock-wrapper { margin: auto; }
  .flip-clock-wrapper.grid-timer-2 ul { font-size: 28px !important; height: 40px !important; width: 35px !important; }
  .flip-clock-wrapper.grid-timer-2 ul li { line-height: 40px !important; }
  .flip-clock-wrapper.grid-timer-2 ul li a div, .flip-clock-wrapper.grid-timer-2 ul li a div div.inn { font-size: 28px !important; }
  .flip-clock-wrapper.grid-timer-2 .flip-clock-divider .flip-clock-label { right: -60px !important; }
  .flip-clock-wrapper.grid-timer-2 .flip-clock-divider.minutes .flip-clock-label { right: -71px !important; }
  .flip-clock-wrapper.grid-timer-2 .flip-clock-divider.seconds .flip-clock-label { right: -71px !important; }
  .flip-clock-wrapper.grid-timer-3 ul { font-size: 28px !important; height: 40px !important; width: 25px !important; }
  .flip-clock-wrapper.grid-timer-3 ul li { line-height: 40px !important; }
  .flip-clock-wrapper.grid-timer-3 ul li a div, .flip-clock-wrapper.grid-timer-3 ul li a div div.inn { font-size: 28px !important; } }
@media only screen and (min-width: 680px) and (max-width: 768px) { /**--flipclock--*/
  .flip-clock-wrapper { margin: auto; }
  .flip-clock-wrapper.grid-timer-2 ul { font-size: 35px !important; height: 48px !important; width: 38px !important; }
  .flip-clock-wrapper.grid-timer-2 ul li { line-height: 48px !important; }
  .flip-clock-wrapper.grid-timer-2 ul li a div, .flip-clock-wrapper.grid-timer-2 ul li a div div.inn { font-size: 35px !important; }
  .flip-clock-wrapper.grid-timer-2 .flip-clock-divider .flip-clock-label { right: -67px !important; }
  .flip-clock-wrapper.grid-timer-2 .flip-clock-divider.minutes .flip-clock-label { right: -75px !important; }
  .flip-clock-wrapper.grid-timer-2 .flip-clock-divider.seconds .flip-clock-label { right: -75px !important; }
  .flip-clock-wrapper.grid-timer-3 ul { font-size: 30px !important; height: 43px !important; width: 28px !important; }
  .flip-clock-wrapper.grid-timer-3 ul li { line-height: 45px !important; }
  .flip-clock-wrapper.grid-timer-3 ul li a div, .flip-clock-wrapper.grid-timer-3 ul li a div div.inn { font-size: 30px !important; } }

/*# sourceMappingURL=__template_videos.css.map */
