
/* ================================= */
/* =========== Slider ============== */
/* ================================= */ 

#banner {
	font-family: notosans-regular,notosans-italic,notosans-bold;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	width: 100%;
	height: 100%; 
	margin-bottom:2em;
} 

@media screen and (min-width: 768px) {
 #banner {
	height: 420px;
 }
}
#banner-slider {
	width: 100%;
	height: auto;
}
.view-0 {
	background : url('http://www.qqlocal.com/wp-content/uploads/2017/11/mmk-banner.jpg');
	height: 420px;	
	}
.caro-slide-0 {
		
	float:left;	
		
	text-align:left;	
	top: 20px;
	bottom: 0px;
}
#banner-slider {
	width: 100%;
	height: auto;
}
.view-1 {
	background : url('http://www.qqlocal.com/wp-content/uploads/2017/09/s-background.jpg');
	height: 420px;	
	}
.caro-slide-1 {
		
	float:left;	
		
	text-align:left;	
	top: 20px;
	bottom: 0px;
}
#banner-slider {
	width: 100%;
	height: auto;
}
.view-2 {
	background : url('http://www.qqlocal.com/wp-content/uploads/2017/08/e-background-2.jpg');
	height: 420px;	
	}
.caro-slide-2 {
		
	float:right;	
		
	text-align:left;	
	top: 20px;
	bottom: 0px;
}
.carousel-item .view img{
	width: 100%;
	height: 420px;	
}
