<<<<<<< HEAD
=======
.qqlanding-sites{
	&.qqland-qq288{ 
		a{ 
			color: $qq288_default;
			&:visited{
				color: $qq288_blue_stone;
			} 
			&:hover,&:focus,&:active {
				color: $qq288_cerulean;
			} 
		}
	}
	&.qqland-qq188{ 
		a{ 
			color: $qq188_reso_blue;
			&:visited{
				color: $qq188_gulf_blue;
			} 
			&:hover,&:focus,&:active {
				color: $qq188_default;
			} 
		}
	}
	&.qqland-qq101{ 
		a{ 
			color: $qq101_default;
			&:visited{
				color: $qq101_default;
			} 
			&:hover,&:focus,&:active {
				color: $color__fd;
			}
		}
	}
	&.qqland-qq1x2{ 
		a{ 
			color: $color__67;
			&:visited{
				color: $color__fd;
			}
			&:hover,&:focus,&:active{
				color: $color__fd;
			}
		}
	}
	&.qqland-qq724{ 
		a{ 
			color:$qq724_bay_leaf;
			&:visited{
				color:$qq724_default;
			} 
			&:hover,&:focus,&:active {
				color:$color__fd;
			}
		}
	}
	&.qqland-qqfortuna{ 
		a{ 
			color: $qqfortuna_mojo;
			&:visited{
				color: $color__fd;
			}
			&:hover,&:focus,&:active 
			{
				color: $color__fd;
			}
		}
	}
	&.qqland-qq801{ 
		a{ 
			color:$qq801_default;
			&:visited{
				color:$qq801_default;
			} 
			&:hover,&:focus,&:active {
				color:$color__fd;
			} 
		} 
	}
	&.qqland-qq882{ 
		a{ 
			color:$qq882_purple_heart;
			&:visited{
				color:$qq882_default;
			} 
			&:hover,&:focus,&:active {
				color:$qq882_default;
			} 
		} 
	}
	&.qqland-qq808{ 
		a{ 
			color:$qq808_default;
			&:visited{
				color:$qq808_brown_bramble;
			} 
			&:hover,&:focus,&:active {
				color:$qq808_di_serria;
			} 
		} 
	}
	&.qqland-qq828{ 
		a{ 
			color: $qq828_default;
			&:visited{
				color: $qq828_default;
			} 
			&:hover,&:focus,&:active {
				color: $qq828_fire;
			} 
		} 
	}
}
>>>>>>> 6eedb7e33fed81627fc5e71554e1754b0b749547
a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
