.qqlanding-sites{
	 //* No Affix
	&.qqland-no-affix{
		&.qqland-qq288{ .navbar{background:$qq288_default} }
		&.qqland-qq188{ .navbar{background:$qq188_default} }
		&.qqland-qq101{ .navbar{background:$qq101_default} }
		&.qqland-qq1x2{ .navbar{background:$qq1x2_blue_ribbon} }
		&.qqland-qq724{ .navbar{background:$qq724_default} }
		&.qqland-qqfortuna{ .navbar{background:$qqfortuna_default} }
		&.qqland-qq801{ .navbar{background:$qq801_default} }
		&.qqland-qq882{ .navbar{background:$qq882_default} }
		&.qqland-qq808{ .navbar{background:$qq808_default} }
		&.qqland-qq828{ .navbar{background:$qq828_default} }
	}
	//* Affix
	&.qqland-affix{
		&.qqland-qq288{ .navbar{background: $qq288_trans} }
		&.qqland-qq188{ .navbar{background: $qq188_trans} }
		&.qqland-qq101{ .navbar{background: $qq101_trans} }
		&.qqland-qq1x2{ .navbar{background: $qq1x2_trans} }
		&.qqland-qq724{ .navbar{background: $qq724_trans} }
		&.qqland-qqfortuna{ .navbar{background: $qqfortuna_trans} }
		&.qqland-qq801{ .navbar{background: $qq801_trans} }
		&.qqland-qq882{ .navbar{background: $qq882_trans} }
		&.qqland-qq808{ .navbar{background: $qq808_trans} }
		&.qqland-qq828{ .navbar{background: $qq828_trans} }
		.affix{
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			width: 100%;
			z-index: 1030;
		}
	}
	.qqland-site-box{
		box-shadow: 0 0 2px $color__border-input;
	}
	//site-info
	&.qqland-qq288{
		.site-top-info{
			background-color: $qq288_cerulean;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq288_cerulean;
						&:hover,&:focus{
							color: $qq288_blue_stone;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq288_blue_stone;
					}
				}
				.active{
					.nav-link{
						background-color:$qq288_blue_stone;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq288_cerulean;
			}
		}
	}
	&.qqland-qq188{
		.site-top-info{
			background-color: $color__ea;
			border-bottom-color:$color__e6;
			ul#social_media{
				li {
					i[class*='fa-']{
						color:$qq188_gulf_blue;
					}
				}
			} 

		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq188_gulf_blue;
						&:hover,&:focus{
							color: $qq188_reso_blue;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq188_reso_blue;
					}
				}
				.active{
					.nav-link{
						background-color:$qq188_reso_blue;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq188_gulf_blue;
			}
		}
	}
	&.qqland-qq101{
		.site-top-info{
			background-color: $qq101_english_holly;
			border-bottom-color:$qq101_celtic;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq101_english_holly;
						&:hover,&:focus{
							color: $qq101_celtic;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq101_celtic;
					}
				}
				.active{
					.nav-link{
						background-color:$qq101_celtic;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq101_english_holly;
			}
		}
	}
	&.qqland-qq1x2{
		.site-top-info{
			background-color: $qq1x2_default;
			border-bottom-color:$qq1x2_mercury;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq1x2_blue_ribbon;
						&:hover,&:focus{
							color: $qq1x2_default;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq1x2_default;
					}
				}
				.active{
					.nav-link{
						background-color:$qq1x2_default;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq1x2_default;
				.nav-link{
					&:hover,&:focus{
						background-color:$qq1x2_blue_ribbon;
					}
				}
				.active{
					.nav-link{
						background-color:$qq1x2_blue_ribbon;
					}
				}
			}
		}
	}
	&.qqland-qq724{
		.site-top-info{
			background-color: $qq724_mine_shaft;
			border-bottom-color:$color__e6;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq724_bay_leaf;
						&:hover,&:focus{
							color: $color__fd;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__fd;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$color__fd;
					}
				}
				.active{
					.nav-link{
						background-color:$color__fd;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq724_mine_shaft;
			}
		}
	}
	&.qqland-qqfortuna{
		.site-top-info{
			background-color: $qqfortuna_temptress;
			border-bottom-color:$color__e6;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qqfortuna_mojo;
						&:hover,&:focus{
							color: $qqfortuna_temptress;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qqfortuna_mojo;
					}
				}
				.active{
					.nav-link{
						background-color:$qqfortuna_mojo;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qqfortuna_temptress;
			}
		}
	}
	&.qqland-qq801{
		.site-top-info{
			background-color: $color__22;
			border-bottom-color:$color__7f;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq801_default;
						&:hover,&:focus{
							color: $color__fd;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$color__fd;
					}
				}
				.active{
					.nav-link{
						background-color:$color__fd;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq801_default;
			}
		}
	}
	&.qqland-qq882{
		.site-top-info{
			background-color: $color__e6;
			border-bottom-color:$color__ea;
			color:$color__7f;
			ul#social_media{
				li {
					i[class*='fa-']{
						color:$qq188_gulf_blue;
					}
				}
			} 
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq882_purple_heart;
						&:hover,&:focus{
							color: $qq882_razzmatazz;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq882_razzmatazz;
					}
				}
				.active{
					.nav-link{
						background-color:$qq882_razzmatazz;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq882_razzmatazz;
				.nav-link{
					&:hover,&:focus{
						background-color:$qq882_default;
					}
				}
				.active{
					.nav-link{
						background-color:$qq882_default;
					}
				}
			}
		}
	}
	&.qqland-qq808{
		.site-top-info{
			background-color: $qq808_brown_bramble;
			border-bottom-color:$qq808_di_serria;
			color:$color__7f;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq808_brown_bramble;
						&:hover,&:focus{
							color: $qq808_di_serria;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq808_di_serria;
					}
				}
				.active{
					.nav-link{
						background-color:$qq808_di_serria;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq808_brown_bramble;
			}
		}
	}
	&.qqland-qq828{
		.site-top-info{
			background-color: $qq828_fire;
			border-bottom-color:$qq828_givry;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq828_default;
						&:hover,&:focus{
							color: $qq828_fire;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq828_fire;
					}
				}
				.active{
					.nav-link{
						background-color:$qq828_fire;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq828_fire;
				.nav-link{
					&:hover,&:focus{
						background-color:$qq828_default;
					}
				}
				.active{
					.nav-link{
						background-color:$qq828_default;
					}
				}
			}
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		font-weight: 600;
		width: 50%;
		&:before{
			content: "\f053";
			display: inline-block;
			font-family: FontAwesome;
			@include font-size(1.125);
			font-weight: normal;
			margin: 0 10px 0 0;
			line-height: 0.75em;
			vertical-align: -.0667em;
		}
	}

	.nav-next {
		float: right;
		font-weight: 600;
		text-align: right;
		width: 50%;
		&:after{
			content: "\f054";
			display: inline-block;
			font-family: FontAwesome;
			@include font-size(1.125);
			font-weight: normal;
			margin: 0 0 0 10px;
			line-height: 0.75em;
			vertical-align: -.0667em;
		}
	}
}

/*pagination*/
.paging-navigation{
	margin:1em 0;
	padding:1em 0;
	ul{
		padding: 0;
	    margin-left: 0	
	}
	li{
		display: inline-block;
		padding-right:4px;
		a{
			background-color: $color__b5;
			border-radius: 2px;
			color: $color__white;
			display: block;
			font-weight:600;
			padding: 7px 12px;
			text-decoration: none;
			&:hover{
				background-color: $color__e6;
			}
		}
	}
}
.page-numbers{
	list-style-type: none;
	a,
	.dots{
		background-color: $color__b5;
		border-radius: 2px;
		color: $color__white;
		display: block;
		font-weight:600;
		padding: 7px 12px;
		text-decoration: none;
		&:hover{
			background-color: $color__e6;
		}
	}
	.current{
		background: $color__e6;
		border-radius: 2px;
		color: $color__white;
		display: block;
		font-weight:600;
		padding: 7px 12px;
		text-decoration: none;
	}
}
.meta-nav-prev,
.meta-nav-next{
	&:before{
		display: inline-block;
		font-family: FontAwesome;
		@include font-size(1.125);
		font-weight: normal;
		line-height: 0.75em;
		vertical-align: -.0667em;
	}
}
.meta-nav-prev{
	&:before{
		content: "\f053";
	  	margin: 0 5px 0 0;
	}
}
.meta-nav-next{
	&:before{
		content: "\f054";
		margin: 0 0 0 5px;
	}
}
