<<<<<<< HEAD
=======
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

>>>>>>> b6d2702... initial commit
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
<<<<<<< HEAD
		font-weight: 600;
		width: 50%;
		&:before{
			content: "\f053";
			display: inline-block;
			font-family: FontAwesome;
			@include font-size(1.125);
			font-weight: normal;
			margin: 0 10px 0 0;
			line-height: 0.75em;
			vertical-align: -.0667em;
		}
=======
		width: 50%;
>>>>>>> b6d2702... initial commit
	}

	.nav-next {
		float: right;
<<<<<<< HEAD
		font-weight: 600;
		text-align: right;
		width: 50%;
		&:after{
			content: "\f054";
			display: inline-block;
			font-family: FontAwesome;
			@include font-size(1.125);
			font-weight: normal;
			margin: 0 0 0 10px;
			line-height: 0.75em;
			vertical-align: -.0667em;
		}
	}
}

/*pagination*/
.paging-navigation{
	margin:1em 0;
	padding:1em 0;
	ul{
		padding: 0;
	    margin-left: 0	
	}
	li{
		display: inline-block;
		padding-right:4px;
		a{
			background-color: $color__b5;
			border-radius: 2px;
			color: $color__white;
			display: block;
			font-weight:600;
			padding: 7px 12px;
			text-decoration: none;
			&:hover{
				background-color: $color__e6;
			}
		}
	}
}
.page-numbers{
	list-style-type: none;
	a,
	.dots{
		background-color: $color__b5;
		border-radius: 2px;
		color: $color__white;
		display: block;
		font-weight:600;
		padding: 7px 12px;
		text-decoration: none;
		&:hover{
			background-color: $color__e6;
		}
	}
	.current{
		background-color: $color__e6;
		border-radius: 2px;
		color: $color__white;
		display: block;
		font-weight:600;
		padding: 7px 12px;
		text-decoration: none;
	}
}
.meta-nav-prev,
.meta-nav-next{
	&:before{
		display: inline-block;
		font-family: FontAwesome;
		@include font-size(1.125);
		font-weight: normal;
		line-height: 0.75em;
		vertical-align: -.0667em;
	}
}
.meta-nav-prev{
	&:before{
		content: "\f053";
	  	margin: 0 5px 0 0;
	}
}
.meta-nav-next{
	&:before{
		content: "\f054";
		margin: 0 0 0 5px;
=======
		text-align: right;
		width: 50%;
>>>>>>> b6d2702... initial commit
	}
}
