.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comments-area{
	max-width: 747px;
	margin: 40px 0px;
}
.comments-title,
.comment-list,
.comment-reply-title,
.must-log-in,
.comment-respond .comment-form,
.comment-respond iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.sidebar{
	.comments-title,
	.comment-list,
	.must-log-in,
	.comment-reply-title,
	.comment-navigation,
	.comment-respond .comment-form {
		max-width: 1040px;
		padding-left: 60px;
		padding-right: 376px;
	}
	.comment-list .comment-reply-title,
	.comment-list .comment-respond .comment-form {
		padding: 0;
	}
	.no-comments {
		padding-left: 60px;
		padding-right: 376px;
	}
}
.comments-title{
	margin:20px 0;
}
.comment-list,
.comment-list .children{
	list-style-type: none;
	margin:0;
	padding:0;
	>li{
		&:after{
			background-size: 4px 4px;
			content: '';
			display: block;
			height:1px;
			width: 100%;
		}
	}
}
.comment-list{
	.children{
		margin: 0 0 0 40px;
		padding:0;
	}
	>li{
		&:last-child{
			&:after{
				display:none;
			}
		}
	}
}
.comment-body{
	border-bottom: 2px dotted #dbdbdb;
	clear: both;
	overflow: hidden;
	padding: 24px 0;
	position: relative;
}
.comment-author{
	.author{
		display: block;
		float: left;
		margin: 0 20px 20px 0;
	}
	.fn{
		word-wrap: break-word;
	}
}
.comment-author .fn,
.comment-author .url,
.comment-reply-link,
.comment-reply-login{
	color: $color__7f;
	@include font-size(0.875);
	font-style: normal;
	font-weight: bold;
}
.says{
	display: none;
}
.no-avatars{
	.comment-author {
	  margin: 0 0 5px;
	  max-width: 100%;
	  position: relative;
	}
	.comment-metadata,
	.comment-content,
	.comment-list .reply{
		width: 100%;
	}
}
.comment-list {
	.edit-link {
	  margin-left: 20px;
	}
}
.comment-metadata,
.comment-awaiting-moderation,
.comment-content,
.comment-list .reply{
	margin:10px 0;
}
.comment-meta{
		color:$color__text-input;
		@include font-size(0.82);
	a{
		color:$color__text-input;
		@include font-size(0.82);
		&:hover{
			color: $color__22;
		}
	}
}
.comment-metadata{
	margin-bottom: 15px;
}
.ping-meta{
	color:$color__b5;
	@include font-size(0.82);
	line-height: 2;
}
.comment-awaiting-moderation{
	color:$color__ea;
	font-style: italic;
	font-weight: 600;
	&:before{
		content: "\f021";
	}
}
.comment-awaiting-moderation,
.comment-reply-link,
.comment-reply-login{
	&:before{
		margin-right: 10px;
		display: inline-block;
		font-family: FontAwesome;
		font-weight: normal;
	}
}
.comment-reply-link,
.comment-reply-login{
	&:before{
		content: "\f122";
	}
}
/* Comment form */

.comment-respond{
	background-color: $color__e6;
    margin: 30px 0;
    padding: 40px;
    max-width: 747px;
}
.comment .comment-respond{
	margin-bottom: 20px;
	padding: 20px;
}
.comment-reply-title{
  	margin-top: 0;
	small{
		a{
			color:$color__ea;
			display: inline-block;
			float: right;
			height: 20px;
			overflow: hidden;
			width: 20px;
			line-height: 1.5em;
			&:hover{
				color: $color__link-hover;
				text-decoration: none;
			}
			&:before{
				content: "\f05c";
				display: inline-block;
				font-family: FontAwesome;
				font-size: 20px;
				font-weight: normal;
			}
		}
	}
}
.comment-form {
	.comment-notes {
		margin-bottom: 15px;
	}
	.comment-form-author,
	.comment-form-email,
	.comment-form-url{
		margin-bottom: 30px;
	}
	[for="author"],
	[for="email"],
	[for="url"],
	[for="comment"]{
		float: left;
		padding: 10px 0;
		width: 100px;
	}
	.required{
		color: $color__required;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"]{
		max-width: 410px;
		width: 100%;
	}
	textarea{
		margin-bottom: 2em;
		min-height: 150px;
		width: 100%;
	}
}
.form-allowed-tags,
.form-allowed-tags code {
  color: $color__b5;
  @include font-size(0.875);
}
.form-allowed-tags code {
  font-size: 10px;
  margin-left: 3px;
  white-space: pre-wrap;
}
.comment-navigation {
  border-bottom: 1px solid $color__ea;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  margin: 0 auto;
  max-width: 747px;
  padding: 20px 0;
  width: 100%;
}
.no-comments {
  background-color: $color__background-pre;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}