//sites-defautl
.qqlanding-sites{
<<<<<<< HEAD
	 //* No Affix
	&.qqland-no-affix{
		&.qqland-qq288{ .navbar{background:#07738f} }
		&.qqland-qq188{ .navbar{background:#142e5f} }
		&.qqland-qq101{ .navbar{background:#033709} }
		&.qqland-qq1x2{ .navbar{background:#0044a7} }
		&.qqland-qq724{ .navbar{background:#3e3e3e} }
		&.qqland-qqfortuna{ .navbar{background:#300} }
	}
	//* Affix
	&.qqland-affix{
		&.qqland-qq288{ .navbar{background: rgba(7,115,143,.78)} }
		&.qqland-qq188{ .navbar{background: rgba(20,46,95,.78)} }
		&.qqland-qq101{ .navbar{background: rgba(3,55,9,.78)} }
		&.qqland-qq1x2{ .navbar{background: rgba(0,68,167,.78)} }
		&.qqland-qq724{ .navbar{background: rgba(62,62,62,.78)} }
		&.qqland-qqfortuna{ .navbar{background: rgba(51,0,0,.78)} }
=======
	//sites
	.site-top-info{
		border-bottom:1px solid transparent;
		padding:0px 10px;
		line-height: 1.5;
		position: relative;
		#social_media,
		ul#social_media{
			list-style-type: none;
			margin:0;
			padding:0;
			li{
				display: inline-block;
				position: relative;
				padding: 0em;
				margin-bottom: 0em;
				a{
					display: block;
					line-height: 32px;
					padding-right: 5px;
					padding-left: 5px;
					text-align: center;
					width: 32px;
					vertical-align: middle;
					&:hover{
						background-color:$color__white;
						i{
							&[class*="facebook"]{color: #4267b2;}
							&[class*="twitter"]{color: #1da1f2;}
							&[class*="instagram"]{color: #c32aa3;}
							&[class*="linkedin"]{color: #007bb5;}
							&[class*="youtube"]{color: #ff0000;}
							&[class*="google-plus"]{color: #dd4b39;}
							&[class*="pinterest"]{color: #bd081c;}
							&[class*="rss"]{color: #FB6405;}
							&[class*="flickr"]{color: #f40083;}
						}
					}
				}
				i{
					&[class*='fa-']{
						@include font-size(1.2);
						color:$color__white;
					}
				}
			}
		}
	}
	.qqlanding-default{
		/* .site-top-info{
			margin-bottom:10px;
		} */
	}

	//site-title & desc
	.site-header{
		margin-bottom:35px;
	}
	.site-branding{
		.site-title,
		.site-description,
		.site-logo{
			line-height:1.5;
			margin-left: 1.5em;
		}
		.site-title{
		    font-family: "Helvetica Neue", sans-serif;
		    @include font-size(1.75);
		    font-weight: 600;
		    margin: 0.67em 0 0em 0.8em;
		    line-height:1.5;
		}
		.site-description{
			@include font-size(0.875);
			margin-bottom: 1em;	
		}
	}
	//site-navigation
	#site-navigation{
		.navbar-nav{
			.nav-link{
				color: $color__white;
				@include font-size(1);
				padding-bottom: 0.7em;
				padding-top: 0.7em;
			}
			.dropdown-menu{
				border-radius: 0;
				.nav-link{
						@include font-size(0.9375);
				}
			}
		}
>>>>>>> 6eedb7e33fed81627fc5e71554e1754b0b749547
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
