//sites-defautl
.qqlanding-sites{
	//sites
	.site-top-info{
		border-bottom:1px solid transparent;
		padding:6px 10px;
		line-height: 1.5;
	}
	.qqlanding-default{
		/* .site-top-info{
			margin-bottom:10px;
		} */
	}

	//site-title & desc
	.site-header{
		margin-bottom:35px;
	}
	.site-branding{
		.site-title,
		.site-description,
		.site-logo{
			line-height:1.5;
			margin-left: 1.5em;
		}
		.site-title{
		    font-family: "Helvetica Neue", sans-serif;
		    @include font-size(1.75);
		    font-weight: 600;
		    margin: 0.67em 0 0em 0.8em;
		    line-height:1.5;
		}
		.site-description{
			@include font-size(0.875);
			margin-bottom: 1em;	
		}
	}
	//site-navigation
	#site-navigation{
		.navbar-nav{
			.nav-link{
				color: $color__white;
				@include font-size(1);
				padding-bottom: 0.7em;
				padding-top: 0.7em;
			}
			.dropdown-menu{
				border-radius: 0;
				.nav-link{
						@include font-size(0.9375);
				}
			}
		}
	}
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
