//sites-defautl
.qqlanding-sites{
	font-family:'noto_sans_regular';
	@include font-size(0.875);
	line-height: 1.5;
	//sites
	.site-top-info{
		border-bottom:1px solid transparent;
		padding:0px 10px;
		line-height: 1.5;
		position: relative;
		#social_media,
		ul#social_media{
			list-style-type: none;
			margin:0;
			padding:0;
			li{
				display: inline-block;
				position: relative;
				padding: 0em;
				margin-bottom: 0em;
				a{
					display: block;
					line-height: 30px;
					padding-right: 3px;
					padding-left: 3px;
					text-align: center;
					width: 30px;
					vertical-align: middle;
					&:hover{
						background-color:$color__white;
						i{
							&[class*="facebook"]{color: #4267b2;}
							&[class*="twitter"]{color: #1da1f2;}
							&[class*="instagram"]{color: #c32aa3;}
							&[class*="linkedin"]{color: #007bb5;}
							&[class*="youtube"]{color: #ff0000;}
							&[class*="google-plus"]{color: #dd4b39;}
							&[class*="pinterest"]{color: #bd081c;}
							&[class*="rss"]{color: #FB6405;}
							&[class*="flickr"]{color: #f40083;}
						}
					}
				}
				i{
					&[class*='fa-']{
						@include font-size(1.025);
						color:$color__white;
					}
				}
			}
		}
	}
	&.qqlayout-default{
		/* .site-top-info{
			margin-bottom:10px;
		} */
		.site-header{
			margin-bottom: 0;
		}
	}
	&.qqlayout-overlay{
		&.qqland-affix{
			.site-header{
				&.qqlanding-overlay{
					height: 140px;
					.navbar{
						position: fixed;
						width: 100%;
						z-index: 1050;
					}
				}
			}
		}
	}
	&.qqlayout-bare{
		.site-header{
			margin-bottom: 0;
		}
		#site-navigation{
			.site-branding{
				padding:0;
			}
			.site-title,
			.site-description{
				line-height: 1.2;
				margin:0;
			}
			.navbar-nav{
				.nav-link{
					padding-bottom:1.8em;
					padding-top:1.8em;
				}
			}
			.dropdown-menu{
				.nav-link{
					padding-bottom:0.8em;
					padding-top:0.8em;
				}
			}

		}
	}

	
	//site-title & desc
	.site-header{
		margin-bottom:35px;
		position: relative;
		width:100%;
	}
	.site-branding{
		.site-title,
		.site-description,
		.site-logo{
			line-height:1.5;
			margin-left: 1.5em;
		}
		.site-title{
		    font-family: "Helvetica Neue", sans-serif;
		    @include font-size(1.75);
		    font-weight: 600;
		    margin: 0.67em 0 0em 0.8em;
		    line-height:1.5;
		}
		.site-description{
			font-weight:normal;
			@include font-size(0.875);
			margin-bottom: 1em;	
			margin-top: 0em;	
		}
	}
	//site-navigation
	#site-navigation{
		.navbar-nav{
			.nav-link{
				color: $color__white;
				@include font-size(1);
				padding-bottom: 0.8em;
				padding-top: 0.8em;
			}
			.dropdown-menu{
				border-radius: 0;
				.nav-link{
						@include font-size(0.875);
				}
			}
		}
	}
	.site-content{
		padding-top: 35px;
	}
	.site-footer {
		background: $color__22;
		padding:25px 0;
		width:100%;
	}

	//Post & Page
	.sticky {
		display: block;
	}

	.hentry {
		margin: 0 0 1.5em;
	}

	.updated:not(.published) {
		display: none;
	}
	.byline,.posted-on,.comments-link,.edit-link{
		@include font-size(0.825);
		&:before{
			display: inline-block; 
			@include font-size(0.825);
			font-family: FontAwesome; 
			font-weight: normal; 
		}
	}
	.byline:before {
	  content: "\f007";
	  margin: 0 10px 0 15px;
	}
	.posted-on:before {
	  content: "\f133";
	  margin: 0 10px 0 0;
	}
	.comments-link{
		display: inline-block;
		margin-top: 0.5em;
		margin-right: 15px;
		&:before {
		  content: "\f0e6";
		  margin: 0 10px 0 5px;
		}
	}
	.edit-link{
		display: inline-block;
		margin-top: 0.5em;
		&:before {
		  content: "\f044";
		  margin: 0 10px 0 0px;
		}
	}
	.single-post{
		.edit-link:before{
			margin-left: 5px;
		}
	}

	.page-content,
	.entry-content,
	.entry-summary {
		margin: 1.5em 0 0;
		text-align: justify;
	}

	.page-links {
		clear: both;
		margin: 0 0 1.5em;
	}
	.page-entry-title,
	.archive-page-title,
	.search-page-title{
		@include font-size(1);
		font-weight: 500;
		word-wrap: break-word;
	}
	.page-entry-footer{
	  margin: 30px 0;
	  padding: 10px 0;
	}
	.page-header {
	  margin: 0 0 40px 0;
	  border-bottom: none;
	  padding: 0;
	}
	.page-title {
		font-weight: normal;
		margin: 0;
	}
	.taxonomy-description {
	  font-style: italic;
	  margin-bottom: 40px;
	}

	/* Normal Post */
	.qqland-grid-2{
		.qqland-post{
			display:inline-block;
			float:left;
			position: relative;
			margin-right: 5.306122448979592%;
			margin-left: 0;
			width:47.3469387755102%;
			vertical-align: top;
			&:nth-child(2n){
				margin-right: 0;
			}
		}
	}
	.qqland-post,
	.qqland-single-post,
	&.search-no-results{
		margin-bottom: 50px;
		.qqland-entry-wrapper,
		.page-header{
			border-bottom: 1px solid $color__b5;
				margin: 0 0 0.5em;
			.entry-title,
			.single-entry-title,
			.page-title{
				background-color:$color__b5;
				color: $color__white;
				display: inline-block;
				@include font-size(1);
				font-weight: 500;
				line-height: 1.3;
				margin: 0px 0px 1px 0px;
				padding: 0.3em 0.5em;
				text-transform:uppercase;
				@include ease-in-out(0.6);
				a{
					color: $color__white;
					&:hover,&:focus{
						cursor: pointer;
						text-decoration:none;
					}
				}
			}
		}
		.entry-meta{
			margin: 0 0 0.5em;
		}
	}
	
	.single-entry-title{
	  font-family: "Roboto Condensed", sans-serif;
	  margin: 0 0 2px 0;
	  @include font-size(2);
	  line-height: 1.3;
	  font-weight: bold;
	  word-wrap: break-word;
	}
	.single-entry-footer {
	  padding: 20px 0;
	  margin-bottom: 15px;
	}	

	.qqlanding-cat,.qqlanding-tag{
		&.under{
			@include font-size( 0.625 );
			font-weight: 800; 
			margin-right: 3px;
			text-transform: uppercase;
		}
	}
	.qqlanding-cat,.qqlanding-cat-lists,
	.qqlanding-tag,.qqlanding-tag-lists{
		display:inline-block;
		a{
			border-radius: 1px;
			color:$color__white;
			@include font-size( 0.625 );
			line-height: 27px;
			padding: 2px 6px;
			text-decoration: none;
			text-transform: uppercase;
			&:hover,
			&:focus,
			&:visited{
				color: $color__white;
			}
		}
	}

	.moretag {
		
	}

	/* Archive */
	&.archive{
		.archive-description{
			margin-top: 10px;
			>p{
				@include font-size( 0.8125 );
				font-weight: 400;	
			}
		}
	}

/**
 * Page: 404
 */
.error-404{
	.center-blocks{
		display:block;
		margin: 3em auto 6em;
	}
	.page-header{
		.page-title{
			border:none;
			color:$color__7f;
			@include font-size(4);
			outline:none;
			text-shadow: -2px 0px 0px $color__white, -4px 0px 0px $color__b5;
		}
		.page-sub-title{
			border:none;
			color: $color__b5;
			@include font-size(16);
			line-height: 1.2;
			outline:none;
			margin:0;
			text-shadow: -10px 0px 0px $color__white, -18px 0px 0px $color__7f;
		}
	}
	.page-content{
		margin: 3em auto 6em;
		p{
			color:$color__7f;
			font-style:italic;
		}
	}
}
}