.qqlanding-sites{
	margin:0;
	 //* No Affix
	&.qqland-qq288{ .navbar{background:$qq288_default} }
	&.qqland-qq188{ .navbar{background:$qq188_default} }
	&.qqland-qq101{ .navbar{background:$qq101_default} }
	&.qqland-qq1x2{ .navbar{background:$qq1x2_blue_ribbon} }
	&.qqland-qq724{ .navbar{background:$qq724_default} }
	&.qqland-qqfortuna{ .navbar{background:$qqfortuna_default} }
	&.qqland-qq801{ .navbar{background:$qq801_default} }
	&.qqland-qq882{ .navbar{background:$qq882_default} }
	&.qqland-qq808{ .navbar{background:$qq808_default} }
	&.qqland-qq828{ .navbar{background:$qq828_default} }

	//* Affix
	&.qqland-affix{
		&.qqland-overlay{
			&.qqland-qq288{ .navbar{background: $qq288_trans} }
			&.qqland-qq188{ .navbar{background: $qq188_trans} }
			&.qqland-qq101{ .navbar{background: $qq101_trans} }
			&.qqland-qq1x2{ .navbar{background: $qq1x2_trans} }
			&.qqland-qq724{ .navbar{background: $qq724_trans} }
			&.qqland-qqfortuna{ .navbar{background: $qqfortuna_trans} }
			&.qqland-qq801{ .navbar{background: $qq801_trans} }
			&.qqland-qq882{ .navbar{background: $qq882_trans} }
			&.qqland-qq808{ .navbar{background: $qq808_trans} }
			&.qqland-qq828{ .navbar{background: $qq828_trans} }
		}
		.affix{
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			width: 100%;
			z-index: 1030;
			&#site-navigation{
				.navbar-nav {
					.nav-link{
						padding-bottom: 1em;
						padding-top: 1em;
					}
					.dropdown-menu .nav-link{
						padding-bottom: 0.7em;
						padding-top: 0.7em;
					}
				} 
			}
		}
	}
	.qqland-site-box{
		box-shadow: 0 0 2px $color__border-input;
	}
	//site-info
	&.qqland-qq288{
		.site-top-info{
			background-color: $qq288_cerulean;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq288_cerulean;
						&:hover,&:focus{
							color: $qq288_blue_stone;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq288_blue_stone;
					}
				}
				.active{
					.nav-link{
						background-color:$qq288_blue_stone;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq288_cerulean;
			}
		}
		.site-footer{
			background-color:$color__e6;
		}

		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq288_default;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq288_blue_stone;
				}
			}
			.current{
				background-color: $qq288_blue_stone;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq288_default;
				&:hover,&:focus,&:visited{
					background-color: $qq288_blue_stone;
				}
			}
		}
		//Page: 404
		&.error404{
			.error-404{
				.page-header{
					.page-title{
						color:$qq288_default;
						text-shadow: -2px 0px 0px $color__white, -4px 0px 0px $qq288_default;
					}
				}
				.page-sub-title{
					color: $qq288_default;
					text-shadow: -10px 0px 0px $color__white, -18px 0px 0px $qq288_blue_stone;
				}
				.page-content{
					color:$color__7f;
				}
			}
		}
		//Page : Front Page
		.card-overlay{
			.card-o-btm{
				background-color: $qq288_trans;
			}
		}
	}
	&.qqland-qq188{
		.site-top-info{
			background-color: $color__ea;
			border-bottom-color:$color__e6;
			ul#social_media{
				li {
					i[class*='fa-']{
						color:$qq188_gulf_blue;
					}
				}
			} 
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq188_gulf_blue;
						&:hover,&:focus{
							color: $qq188_reso_blue;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq188_reso_blue;
					}
				}
				.active{
					.nav-link{
						background-color:$qq188_reso_blue;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq188_gulf_blue;
			}
		}
		.site-footer{
			background-color:$color__ea;
		}

		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq188_gulf_blue;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq188_reso_blue;
				}
			}
			.current{
				background-color: $qq188_reso_blue;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq188_reso_blue;
				&:hover,&:focus,&:visited{
					background-color: $qq188_gulf_blue;
				}
			}
		}
		//Page : Front Page
		.card-overlay{
			.card-o-btm{
				background-color: $qq188_gb_trans;
			}
		}
	}
	&.qqland-qq101{
		.site-top-info{
			background-color: $qq101_english_holly;
			border-bottom-color:$qq101_celtic;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq101_english_holly;
						&:hover,&:focus{
							color: $qq101_celtic;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq101_celtic;
					}
				}
				.active{
					.nav-link{
						background-color:$qq101_celtic;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq101_english_holly;
			}
		}
		.site-footer{
			background-color:$color__ea;
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq101_celtic;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq101_default;
				}
			}
			.current{
				background-color: $qq101_default;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq101_english_holly;
				&:hover,&:focus,&:visited{
					background-color: $qq101_default;
				}
			}
		}

		//Page : Front Page
		.card-overlay{
			.card-o-btm{
				background-color: $qq101_eh_trans;
			}
		}
	}
	&.qqland-qq1x2{
		.site-top-info{
			background-color: $qq1x2_default;
			border-bottom-color:$qq1x2_mercury;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq1x2_blue_ribbon;
						&:hover,&:focus{
							color: $qq1x2_default;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq1x2_default;
					}
				}
				.active{
					.nav-link{
						background-color:$qq1x2_default;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq1x2_default;
				.nav-link{
					&:hover,&:focus{
						background-color:$qq1x2_blue_ribbon;
					}
				}
				.active{
					.nav-link{
						background-color:$qq1x2_blue_ribbon;
					}
				}
			}
		}
		.site-footer{
			background-color:$qq1x2_default;
			color: $color__white;
			a{
				color: $color__white;
				&:hover,&:focus{
					color: $qq1x2_blue_ribbon;
				}
			}
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq1x2_blue_ribbon;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq1x2_default;
				}
			}
			.current{
				background-color: $qq1x2_default;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq1x2_default;
				&:hover,&:focus,&:visited{
					background-color: $qq1x2_blue_ribbon;
				}
			}
		}
		//Page : Front Page
		.card-overlay{
			.card-o-btm{
				background-color: $qq1x2_1f_trans;
			}
		}
	}
	&.qqland-qq724{
		.site-top-info{
			background-color: $qq724_mine_shaft;
			border-bottom-color:$color__e6;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq724_bay_leaf;
						&:hover,&:focus{
							color: $color__fd;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__fd;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$color__fd;
					}
				}
				.active{
					.nav-link{
						background-color:$color__fd;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq724_mine_shaft;
			}
		}
		.site-footer{
			background-color:$qq724_mine_shaft;
			color: $color__white;
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq724_bay_leaf;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq724_default;
				}
			}
			.current{
				background-color: $qq724_default;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq724_mine_shaft;
				&:hover,&:focus,&:visited{
					background-color: $color__fd;
				}
			}
		}
		//Page : Front Page
		.card-overlay{
			.card-o-btm{
				background-color: $qq724_trans;
			}
		}
	}
	&.qqland-qqfortuna{
		.site-top-info{
			background-color: $qqfortuna_temptress;
			border-bottom-color:$color__e6;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qqfortuna_mojo;
						&:hover,&:focus{
							color: $qqfortuna_temptress;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qqfortuna_mojo;
					}
				}
				.active{
					.nav-link{
						background-color:$qqfortuna_mojo;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qqfortuna_temptress;
			}
		}
		.site-footer{
			background-color:$color__22;
			color: $color__white;
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qqfortuna_default;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qqfortuna_mojo;
				}
			}
			.current{
				background-color: $qqfortuna_mojo;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qqfortuna_default;
				&:hover,&:focus,&:visited{
					background-color: $qqfortuna_mojo;
				}
			}
		}
		//Page: 404
		&.error404{
			.error-404{
				.page-header{
					.page-title{
						color:$qqfortuna_mojo;
						text-shadow: -2px 0px 0px $color__white, -4px 0px 0px $qqfortuna_temptress;
					}
				}
				.page-sub-title{
					color: $qqfortuna_mojo;
					text-shadow: -10px 0px 0px $color__white, -18px 0px 0px $qqfortuna_temptress;
				}
				.page-content{
					color:$color__7f;
				}
			}
		}

		//Page : Front Page
		.card-overlay{
			.card-o-btm{
				background-color: $qqfortuna_trans;
			}
		}
	} 
	&.qqland-qq801{
		.site-top-info{
			background-color: $qq801_regal_blue;
			border-bottom-color:$color__7f;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq801_default;
						&:hover,&:focus{
							color: $color__fd;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$color__fd;
					}
				}
				.active{
					.nav-link{
						background-color:$color__fd;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq801_default;
			}
		}
		.site-footer{
			background-color:$qq801_regal_blue;
			color: $color__white;
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq801_congress_blue;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq801_default;
				}
			}
			.current{
				background-color: $qq801_default;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq801_regal_blue;
				&:hover,&:focus,&:visited{
					background-color: $qq801_default;
				}
			}
		}
		//Page : Front Page
		.card-overlay{
			.card-o-btm{
				background-color: $qq801_trans;
			}
		}
	}
	&.qqland-qq882{
		.site-top-info{
			background-color: $qq882_dark;
			border-bottom-color:$color__ea;
			color:$color__7f;
			ul#social_media{
				li {
					i[class*='fa-']{
						color:$qq882_razzmatazz;
					}
				}
			} 
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq882_purple_heart;
						&:hover,&:focus{
							color: $qq882_razzmatazz;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq882_razzmatazz;
					}
				}
				.active{
					.nav-link{
						background-color:$qq882_razzmatazz;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq882_razzmatazz;
				.nav-link{
					&:hover,&:focus{
						background-color:$qq882_default;
					}
				}
				.active{
					.nav-link{
						background-color:$qq882_default;
					}
				}
			}
		}
		.site-footer{
			background-color:$qq882_dark;
			color:$color__white;
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq882_violet;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq882_razzmatazz;
				}
			}
			.current{
				background-color: $qq882_razzmatazz;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq882_violet;
				&:hover,&:focus,&:visited{
					background-color: $qq882_razzmatazz;
				}
			}
		}
		//Page: 404
		&.error404{
			.error-404{
				.page-header{
					.page-title{
						color:$qq882_purple_heart;
						text-shadow: -2px 0px 0px $color__white, -4px 0px 0px $qq882_dark;
					}
				}
				.page-sub-title{
					color: $qq882_purple_heart;
					text-shadow: -10px 0px 0px $color__white, -18px 0px 0px $qq882_dark;
				}
				.page-content{
					color:$color__7f;
				}
			}
		}
		//Page : Front Page
		.card-overlay{
			.card-o-btm{
				background-color: $qq882_trans;
			}
		}
	}
	&.qqland-qq808{
		.site-top-info{
			background-color: $qq808_brown_bramble;
			border-bottom-color:$qq808_di_serria;
			color:$color__7f;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq808_brown_bramble;
						&:hover,&:focus{
							color: $qq808_di_serria;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq808_di_serria;
					}
				}
				.active{
					.nav-link{
						background-color:$qq808_di_serria;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq808_brown_bramble;
			}
		}
		.site-footer{
			background-color:$qq808_light;
			color:$color__22;
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq808_default;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq808_brown_bramble;
				}
			}
			.current{
				background-color: $qq808_brown_bramble;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq808_brown_bramble;
				&:hover,&:focus,&:visited{
					background-color: $qq808_default;
				}
			}
		}
		//Page: 404
		&.error404{
			.error-404{
				.page-header{
					.page-title{
						color:$qq808_di_serria;
						text-shadow: -2px 0px 0px $color__white, -4px 0px 0px $qq808_brown_bramble;
					}
				}
				.page-sub-title{
					color: $qq808_di_serria;
					text-shadow: -10px 0px 0px $color__white, -18px 0px 0px $qq808_brown_bramble;
				}
				.page-content{
					color:$color__7f;
				}
			}
		}
		//Page : Front Page
		.card-overlay{
			.card-o-btm{
				background-color: $qq808_trans;
			}
		}
	}
	&.qqland-qq828{
		.site-top-info{
			background-color: $qq828_fire;
			border-bottom-color:$qq828_givry;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq828_default;
						&:hover,&:focus{
							color: $qq828_fire;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq828_fire;
					}
				}
				.active{
					.nav-link{
						background-color:$qq828_fire;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq828_fire;
				.nav-link{
					&:hover,&:focus{
						background-color:$qq828_default;
					}
				}
				.active{
					.nav-link{
						background-color:$qq828_default;
					}
				}
			}
		}
		.site-footer{
			background-color:$qq828_dark;
			color:$color__white;
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq828_default;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq828_givry;
					color: $qq828_default;
				}
			}
			.current{
				background-color: $qq828_givry;
				color: $qq828_default;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq828_givry;
				color:$qq828_default;
				&:hover,&:focus,&:visited{
					background-color: $qq828_default;
				}
			}
		}
		//Page : Front Page
		.card-overlay{
			.card-o-btm{
				background-color: $qq828_trans;
			}
		}
	}


	
	//Page : Front Page

	#Fproviders{
		.provider-group{
			position:relative;
			flex-direction:column;
			flex:auto;
			display:-ms-flexbox;
			display:flex;
			&[class*='-category'],
			&[class*='-default']{
				border:1px solid $color__7f;
				border-radius:5px;
				margin-bottom:18px;
				padding:8px 10px;
			}
			&[class*='-license']{
				.pagcor{
					background-position:0 0;width:140px;
				}
			}

			/**
			 * prov-cat
			 *----------*/
			&[class*='-category']{
				.bet368{width:86px;background-position:3px -302px;}
				.opus{width:138px;background-position:5px -2001px;}
				.onework{width:105px;background-position:3px -1517px;}
				.gameplay{width:130px;background-position:5px -1420px;}
				.gd{background-position:5px -960px;}
				.gp{background-position:5px -906px;}
				.allbet{width:90px;background-position:5px -1117px;}
				.ag{width:90px;background-position:3px -1317px;}
				.og{width:58px;background-position:5px -1904px;}
				.royal{width:90px;background-position:5px -1218px;}
				.playtech{width:105px;background-position:3px -731px;}
				.ebet{width:105px;background-position:-167px -41px;}
				.spadegaming{width:150px;background-position:3px -648px;}
				.ttg{width:110px;background-position:5px -2267px;}
				.gameos{width:120px;background-position:5px -2189px;}
				.mg{width:130px;background-position:3px -2100px;}
				.betsoft{width:90px;background-position:3px -2436px;}
				.habanero{width:120px;background-position:3px -1611px;}
				.isin4d{background-position:3px -1706px;}
				.txbet{background-position:3px -394px;}
				.idn{width:92px;background-position:3px -806px;}
				.xo{width:116px;background-position:3px -2345px;}
				.txbet4d{width:100px;background-position:-158px -144px;}
				.txbet6d{width:100px;background-position:-158px -240px;}
				.lottery{width:140px;height:40px;background-position:3px -160px;}
				.saba{background-position:3px -209px;}
				.ok368{background-position:-158px -352px;}
				.pragmaticplay{background-position:-158px -412px;width: 90px;}
				.thegamingplatform{background-position:-158px -556px;width: 127px;}
			}

			/**
			 * prov-default
			 *--------------*/
			 &[class*='-default']{
			 	&.gray{
					.allbet{width:90px;background-position:5px -1066px;}
					.ag{width:90px;background-position:3px -1268px;}
					.bet368{width:86px;background-position:3px -256px;}
					.betsoft{width:90px;background-position:3px -2392px;}
					.ebet{width:105px;background-position:-167px 4px;}
					.gameplay{width:130px;background-position:5px -1368px;}
					.gd{background-position:5px -960px;}
					.gp{background-position:5px -855px;}
					.gameos{width:120px;background-position:5px -2189px;}
					.habanero{width:120px;background-position:3px -1562px;}
					.isin4d{background-position:3px -1655px;}
					.idn{width:92px;background-position:3px -770px;}
					.lottery{width:140px;height:40px;background-position:3px -117px;}
					.mg{width:130px;background-position:3px -2053px;}
					.og{width:58px;background-position:5px -1853px;}
					.ok368{background-position:-158px -291px;}
					.opus{width:138px;background-position:5px -1953px;}
					.onework{width:105px;background-position:3px -1468px;}
					.playtech{width:105px;background-position:3px -693px;}
					.pragmaticplay{background-position:-158px -412px;width: 90px;}
					.royal{width:90px;background-position:5px -1167px;}
					.saba{background-position:3px -209px;}
					.spadegaming{width:150px;background-position:3px -600px;}
					.ttg{width:110px;background-position:5px -2231px;}
					.txbet{background-position:3px -351px;}
					.txbet4d{width:100px;background-position:-158px -95px;}
					.txbet6d{width:100px;background-position:-158px -192px;}
					.thegamingplatform{background-position:-158px -506px;width: 125px;}
					.xo{width:116px;background-position:3px -2306px;}
			 	}
			 	&.white{
					.allbet{width:90px;background-position:5px -1066px;}
					.ag{width:90px;background-position:3px -1268px;}
					.bet368{width:86px;background-position:3px -301px;}
					.betsoft{width:90px;background-position:3px -2392px;}
					.ebet{width:98px;background-position:-160px -5px;}
					.gameplay{width:130px;background-position:5px -1368px;}
					.gd{background-position:5px -960px;}
					.gp{background-position:5px -855px;}
					.gameos{width:120px;background-position:5px -2189px;}
					.habanero{width:120px;background-position:3px -1562px;}
					.isin4d{background-position:3px -1655px;}
					.idn{width:92px;background-position:3px -770px;}
					.lottery{width:140px;height:40px;background-position:3px -117px;}
					.mg{width:130px;background-position:3px -2053px;}
					.og{width:58px;background-position:5px -1853px;}
					.ok368{background-position:-158px -291px;}
					.opus{width:138px;background-position:5px -1953px;}
					.onework{width:105px;background-position:3px -1468px;}
					.playtech{width:105px;background-position:3px -693px;}
					.pragmaticplay{background-position:-158px -353px;width: 90px;}
					.royal{width:90px;background-position:5px -1167px;}
					.saba{background-position:3px -209px;}
					.spadegaming{width:150px;background-position:3px -600px;}
					.ttg{width:110px;background-position:5px -2231px;}
					.txbet{background-position:3px -351px;}
					.txbet4d{width:100px;background-position:-158px -95px;}
					.txbet6d{width:100px;background-position:-158px -192px;}
					.thegamingplatform{background-position:-158px -457px;width: 125px;}
					.xo{width:116px;background-position:3px -2306px;}
			 	}
			 }

		}
		.provider-title{
			position: absolute;
			top: -12px;
			background: $color__e6;
			color: $color__22;
			@include font-size(0.875);
			font-weight: 600;
			margin: 0;
			padding: 2px 7px;
			text-transform: uppercase;
		}
		.provider-item{
			cursor: pointer;
			display: inline;
			float: left;
			margin-bottom: 3px;
			> i{
				display: block;
				font-size: 0;
				height: 38px;
				width: 80px;
				text-indent: -999999px;
			}
		}
	}

	#Fpost{
		.card-overlay{
			overflow:hidden;
			color: $color__white;
			.card-o-btm{
				bottom:-67px;
				cursor:pointer;
				padding: 10px;
				@include ease-in-out();
				width:100%;
			}
			&:hover{
				.card-o-btm{
					bottom: 0;
				}
			}
		}
		figure{
			margin: 0;
		}
		.owl-carousel{
			.owl-item{
				> div {
				  cursor: pointer;
				  margin: 6% 8%;
				  transition: margin 0.4s ease;
				}
				&.center{
					> div{
					  cursor: auto;
					  margin: 0;
					}
				}
				&:not(.center){
					> div {
						&:hover{
							opacity: .75;
						}
					}
				}
			}
			/* .owl-dots{
				text-align: center;
				position: fixed;
				bottom: 5px;
				width: 100%;
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				background-color: red;	
				&.active{
					background-color: yellow;
				}
			} */
		}
	}
}