.qqlanding-sites{
	margin:0;
	 //* No Affix
	&.qqland-qq288{ .bg_color_288{background:$qq288_default;} .color_288{ color:$qq288_blue_stone;} .navbar{background:$qq288_default} }
	&.qqland-qq188{ .bg_color_188{background:$qq188_default;} .color_188{ color:$qq188_reso_blue;} .navbar{background:$qq188_default} }
	&.qqland-qq101{ .bg_color_101{background:$qq101_default;} .color_101{ color:$qq101_celtic;} .navbar{background:$qq101_default} }
	&.qqland-qq1x2{ .bg_color_1x2{background:$qq1x2_blue_ribbon;} .color_1x2{ color:$qq1x2_default;} .navbar{background:$qq1x2_blue_ribbon} }
	&.qqland-qq724{ .bg_color_724{background:$qq724_default;} .color_724{ color:$color__fd;} .navbar{background:$qq724_default} }
	&.qqland-qqfortuna{ .bg_color_fortuna{background:$qqfortuna_default;} .color_fortuna{ color:$qqfortuna_temptress;} .navbar{background:$qqfortuna_default} }
	&.qqland-qq801{ .bg_color_801{background:$qq801_default;} .color_801{ color:$qq801_regal_blue;} .navbar{background:$qq801_default} }
	&.qqland-qq882{ .bg_color_882{background:$qq882_default;} .color_882{ color:$qq882_violet;} .navbar{background:$qq882_default} }
	&.qqland-qq808{ .bg_color_808{background:$qq808_di_serria;} .color_808{ color:$qq808_di_serria;} .navbar{background:$qq808_default} }
	&.qqland-qq828{ .bg_color_828{background:$qq828_default;} .color_828{ color:$qq828_fire;} .navbar{background:$qq828_default} }
	&.qqland-custom{ .bg_color_custom{background:$color__22;} .color_custom{ color:$color__22;} }

	//* Affix
	&.qqland-affix{
		&.qqland-overlay{
			&.qqland-qq288{ .navbar{background: $qq288_trans} }
			&.qqland-qq188{ .navbar{background: $qq188_trans} }
			&.qqland-qq101{ .navbar{background: $qq101_trans} }
			&.qqland-qq1x2{ .navbar{background: $qq1x2_trans} }
			&.qqland-qq724{ .navbar{background: $qq724_trans} }
			&.qqland-qqfortuna{ .navbar{background: $qqfortuna_trans} }
			&.qqland-qq801{ .navbar{background: $qq801_trans} }
			&.qqland-qq882{ .navbar{background: $qq882_trans} }
			&.qqland-qq808{ .navbar{background: $qq808_trans} }
			&.qqland-qq828{ .navbar{background: $qq828_trans} }
		}
		.affix{
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			width: 100%;
			z-index: 1030;
			&#site-navigation{
				.navbar-nav {
					.nav-link{
						padding-bottom: 1em;
						padding-top: 1em;
					}
					.dropdown-menu .nav-link{
						padding-bottom: 0.7em;
						padding-top: 0.7em;
					}
				} 
			}
		}
	}
	.qqland-site-box{
		box-shadow: 0 0 2px $color__border-input;
	}
	//site-info
	&.qqland-qq288{
		.site-top-info{
			background-color: $qq288_cerulean;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq288_cerulean;
						&:hover,&:focus{
							color: $qq288_blue_stone;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq288_blue_stone;
					}
				}
				.active{
					.nav-link{
						background-color:$qq288_blue_stone;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq288_cerulean;
			}
		}
		.site-footer{
			background-color:$color__e6;
		}

		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq288_default;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq288_blue_stone;
				}
			}
			.current{
				background-color: $qq288_blue_stone;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq288_default;
				&:hover,&:focus,&:visited{
					background-color: $qq288_blue_stone;
				}
			}
		}
		//Page: 404
		&.error404{
			.error-404{
				.page-header{
					.page-title{
						color:$qq288_default;
						text-shadow: -2px 0px 0px $color__white, -4px 0px 0px $qq288_default;
					}
				}
				.page-sub-title{
					color: $qq288_default;
					text-shadow: -10px 0px 0px $color__white, -18px 0px 0px $qq288_blue_stone;
				}
				.page-content{
					color:$color__7f;
				}
			}
		}
		//Page : Front Page
		.card-overlay,
		.slider-item{
			.card-o-btm{
				background-color: $qq288_trans;
			}
		}
	}
	&.qqland-qq188{
		.site-top-info{
			background-color: $color__ea;
			border-bottom-color:$color__e6;
			ul#social_media{
				li {
					i[class*='fa-']{
						color:$qq188_gulf_blue;
					}
				}
			} 
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq188_gulf_blue;
						&:hover,&:focus{
							color: $qq188_reso_blue;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq188_reso_blue;
					}
				}
				.active{
					.nav-link{
						background-color:$qq188_reso_blue;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq188_gulf_blue;
			}
		}
		.site-footer{
			background-color:$color__ea;
		}

		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq188_gulf_blue;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq188_reso_blue;
				}
			}
			.current{
				background-color: $qq188_reso_blue;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq188_reso_blue;
				&:hover,&:focus,&:visited{
					background-color: $qq188_gulf_blue;
				}
			}
		}
		//Page : Front Page
		.card-overlay,
		.slider-item{
			.card-o-btm{
				background-color: $qq188_gb_trans;
			}
		}
	}
	&.qqland-qq101{
		.site-top-info{
			background-color: $qq101_english_holly;
			border-bottom-color:$qq101_celtic;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq101_english_holly;
						&:hover,&:focus{
							color: $qq101_celtic;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq101_celtic;
					}
				}
				.active{
					.nav-link{
						background-color:$qq101_celtic;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq101_english_holly;
			}
		}
		.site-footer{
			background-color:$color__ea;
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq101_celtic;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq101_default;
				}
			}
			.current{
				background-color: $qq101_default;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq101_english_holly;
				&:hover,&:focus,&:visited{
					background-color: $qq101_default;
				}
			}
		}

		//Page : Front Page
		.card-overlay,
		.slider-item{
			.card-o-btm{
				background-color: $qq101_eh_trans;
			}
		}
	}
	&.qqland-qq1x2{
		.site-top-info{
			background-color: $qq1x2_default;
			border-bottom-color:$qq1x2_mercury;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq1x2_blue_ribbon;
						&:hover,&:focus{
							color: $qq1x2_default;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq1x2_default;
					}
				}
				.active{
					.nav-link{
						background-color:$qq1x2_default;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq1x2_default;
				.nav-link{
					&:hover,&:focus{
						background-color:$qq1x2_blue_ribbon;
					}
				}
				.active{
					.nav-link{
						background-color:$qq1x2_blue_ribbon;
					}
				}
			}
		}
		.site-footer{
			background-color:$qq1x2_default;
			color: $color__white;
			a{
				color: $color__white;
				&:hover,&:focus{
					color: $qq1x2_blue_ribbon;
				}
			}
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq1x2_blue_ribbon;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq1x2_default;
				}
			}
			.current{
				background-color: $qq1x2_default;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq1x2_default;
				&:hover,&:focus,&:visited{
					background-color: $qq1x2_blue_ribbon;
				}
			}
		}
		//Page : Front Page
		.card-overlay,
		.slider-item{
			.card-o-btm{
				background-color: $qq1x2_1f_trans;
			}
		}
	}
	&.qqland-qq724{
		.site-top-info{
			background-color: $qq724_mine_shaft;
			border-bottom-color:$color__e6;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq724_bay_leaf;
						&:hover,&:focus{
							color: $color__fd;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__fd;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$color__fd;
					}
				}
				.active{
					.nav-link{
						background-color:$color__fd;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq724_mine_shaft;
			}
		}
		.site-footer{
			background-color:$qq724_mine_shaft;
			color: $color__white;
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq724_bay_leaf;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq724_default;
				}
			}
			.current{
				background-color: $qq724_default;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq724_mine_shaft;
				&:hover,&:focus,&:visited{
					background-color: $color__fd;
				}
			}
		}
		//Page : Front Page
		.card-overlay,
		.slider-item{
			.card-o-btm{
				background-color: $qq724_trans;
			}
		}
	}
	&.qqland-qqfortuna{
		.site-top-info{
			background-color: $qqfortuna_temptress;
			border-bottom-color:$color__e6;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qqfortuna_mojo;
						&:hover,&:focus{
							color: $qqfortuna_temptress;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qqfortuna_mojo;
					}
				}
				.active{
					.nav-link{
						background-color:$qqfortuna_mojo;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qqfortuna_temptress;
			}
		}
		.site-footer{
			background-color:$color__22;
			color: $color__white;
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qqfortuna_default;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qqfortuna_mojo;
				}
			}
			.current{
				background-color: $qqfortuna_mojo;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qqfortuna_default;
				&:hover,&:focus,&:visited{
					background-color: $qqfortuna_mojo;
				}
			}
		}
		//Page: 404
		&.error404{
			.error-404{
				.page-header{
					.page-title{
						color:$qqfortuna_mojo;
						text-shadow: -2px 0px 0px $color__white, -4px 0px 0px $qqfortuna_temptress;
					}
				}
				.page-sub-title{
					color: $qqfortuna_mojo;
					text-shadow: -10px 0px 0px $color__white, -18px 0px 0px $qqfortuna_temptress;
				}
				.page-content{
					color:$color__7f;
				}
			}
		}

		//Page : Front Page
		.card-overlay,
		.slider-item{
			.card-o-btm{
				background-color: $qqfortuna_trans;
			}
		}
	} 
	&.qqland-qq801{
		.site-top-info{
			background-color: $qq801_regal_blue;
			border-bottom-color:$color__7f;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq801_default;
						&:hover,&:focus{
							color: $color__fd;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$color__fd;
					}
				}
				.active{
					.nav-link{
						background-color:$color__fd;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq801_default;
			}
		}
		.site-footer{
			background-color:$qq801_regal_blue;
			color: $color__white;
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq801_congress_blue;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq801_default;
				}
			}
			.current{
				background-color: $qq801_default;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq801_regal_blue;
				&:hover,&:focus,&:visited{
					background-color: $qq801_default;
				}
			}
		}
		//Page : Front Page
		.card-overlay,
		.slider-item{
			.card-o-btm{
				background-color: $qq801_trans;
			}
		}
	}
	&.qqland-qq882{
		.site-top-info{
			background-color: $qq882_dark;
			border-bottom-color:$color__ea;
			color:$color__7f;
			ul#social_media{
				li {
					i[class*='fa-']{
						color:$qq882_razzmatazz;
					}
				}
			} 
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq882_purple_heart;
						&:hover,&:focus{
							color: $qq882_razzmatazz;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq882_razzmatazz;
					}
				}
				.active{
					.nav-link{
						background-color:$qq882_razzmatazz;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq882_razzmatazz;
				.nav-link{
					&:hover,&:focus{
						background-color:$qq882_default;
					}
				}
				.active{
					.nav-link{
						background-color:$qq882_default;
					}
				}
			}
		}
		.site-footer{
			background-color:$qq882_dark;
			color:$color__white;
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq882_violet;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq882_razzmatazz;
				}
			}
			.current{
				background-color: $qq882_razzmatazz;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq882_violet;
				&:hover,&:focus,&:visited{
					background-color: $qq882_razzmatazz;
				}
			}
		}
		//Page: 404
		&.error404{
			.error-404{
				.page-header{
					.page-title{
						color:$qq882_purple_heart;
						text-shadow: -2px 0px 0px $color__white, -4px 0px 0px $qq882_dark;
					}
				}
				.page-sub-title{
					color: $qq882_purple_heart;
					text-shadow: -10px 0px 0px $color__white, -18px 0px 0px $qq882_dark;
				}
				.page-content{
					color:$color__7f;
				}
			}
		}
		//Page : Front Page
		.card-overlay,
		.slider-item{
			.card-o-btm{
				background-color: $qq882_trans;
			}
		}
	}
	&.qqland-qq808{
		.site-top-info{
			background-color: $qq808_brown_bramble;
			border-bottom-color:$qq808_di_serria;
			color:$color__7f;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq808_brown_bramble;
						&:hover,&:focus{
							color: $qq808_di_serria;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq808_di_serria;
					}
				}
				.active{
					.nav-link{
						background-color:$qq808_di_serria;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq808_brown_bramble;
			}
		}
		.site-footer{
			background-color:$qq808_light;
			color:$color__22;
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq808_default;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq808_brown_bramble;
				}
			}
			.current{
				background-color: $qq808_brown_bramble;
				color: $color__white;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq808_brown_bramble;
				&:hover,&:focus,&:visited{
					background-color: $qq808_default;
				}
			}
		}
		//Page: 404
		&.error404{
			.error-404{
				.page-header{
					.page-title{
						color:$qq808_di_serria;
						text-shadow: -2px 0px 0px $color__white, -4px 0px 0px $qq808_brown_bramble;
					}
				}
				.page-sub-title{
					color: $qq808_di_serria;
					text-shadow: -10px 0px 0px $color__white, -18px 0px 0px $qq808_brown_bramble;
				}
				.page-content{
					color:$color__7f;
				}
			}
		}
		//Page : Front Page
		.card-overlay,
		.slider-item{
			.card-o-btm{
				background-color: $qq808_trans;
			}
		}
	}
	&.qqland-qq828{
		.site-top-info{
			background-color: $qq828_fire;
			border-bottom-color:$qq828_givry;
			color:$color__white;
		}
		&.qqlayout-default{
			.site-branding{
				.site-title{
					a{
						color: $qq828_default;
						&:hover,&:focus{
							color: $qq828_fire;
						}
					}
				}
			}
		}
		&.qqlayout-bare{
			.site-branding{
				.site-title,
				.site-description,
				.site-logo{
					margin-bottom: 0.4em;
					margin-left: 0em;
				}
				.site-title{
					margin:0.3em 0 0em 0em;
					a{
						color: $color__white;
						&:hover,&:focus{
							color: $color__e6;
						}
					}
				}
				.site-description{
					color:$color__ea;
				}
			}
		}
		#site-navigation{
			ul{
				margin: 0;
				width: 100%;
			}
			.navbar-nav{
				.nav-link{
					&:hover,&:focus{
						background-color:$qq828_fire;
					}
				}
				.active{
					.nav-link{
						background-color:$qq828_fire;
					}
				}
			} 
			.dropdown-menu{
				background-color: $qq828_fire;
				.nav-link{
					&:hover,&:focus{
						background-color:$qq828_default;
					}
				}
				.active{
					.nav-link{
						background-color:$qq828_default;
					}
				}
			}
		}
		.site-footer{
			background-color:$qq828_dark;
			color:$color__white;
		}
		//page-numbers
		.page-numbers{
			a,.dots{
				background-color: $qq828_default;
				color: $color__white;
				&:hover,&:focus{
					background-color: $qq828_givry;
					color: $qq828_default;
				}
			}
			.current{
				background-color: $qq828_givry;
				color: $qq828_default;
			}
		}
		//meta
		.qqlanding-cat,.qqlanding-cat-lists,
		.qqlanding-tag,.qqlanding-tag-lists{
			a{
				background-color: $qq828_givry;
				color:$qq828_default;
				&:hover,&:focus,&:visited{
					background-color: $qq828_default;
				}
			}
		}
		//Page : Front Page
		.card-overlay,
		.slider-item{
			.card-o-btm{
				background-color: $qq828_trans;
			}
		}
	}

	&.qqland-front{
		.sec-entry-title{
			@include font-size(1.564);
     		margin-bottom: 45px;
		}
		#banner{
			margin-bottom:0em;
		}
	}
	
	//Page : Front Page
	#banner{
		margin-bottom:2em;
		max-height: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;
		#banner-static{
			width: 100%;
			&:after{
				content: '';
				display:block;
				height: 100%;
				position: absolute;
				top:0;
				left:0;
				bottom:0;
				right:0;
				width: 100%;
				z-index: -1;
			}
		}
		.banner-static-content{
			padding-top: 2.5em;
			padding-bottom: 2.5em;
		}
		.slider-filters{
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			z-index: -1;
		}
		#banner-slider{
			.carousel-caption{
				position: static;
				bottom:0;
				left:0;
			}
			[class*='slider-views-']{
				&.slider-filter{
					&:after{
						content: '';
						display:block;
						position: absolute;
						top: 0;
						bottom: 0;
						width: 100%;
						z-index: -1;
					}
				}
			}
		}
		#banner-no-item{
			position: relative;
			.slider-img-overlay{
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 1.25rem;
			}
		}
	}
	.sectionsNoItem{
		box-shadow: inset 0 0px 2px 0px rgba(0, 0, 0, 0.15);
		min-height: 250px;
		.sectionsItem{
			line-height: 125px;
		}
	}
	#Fcontent_a,#Fcontent_b{
		position: relative;
		overflow: hidden;
		box-shadow: inset 0 0px 2px 0px rgba(0, 0, 0, 0.15);
		.slider-filters{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			z-index: -1;
		}
	}

	#Fpost{
		box-shadow: inset 0 0px 2px 0px rgba(0, 0, 0, 0.15);
		.card-overlay{
			color: $color__white;
			.card-title > a,
			.entry-meta > small{
				color: $color__white !important;
			}
		}
		.slider-item{
			color: $color__7f;
			.card-title > a,
			.entry-meta > small{
				color: $color__7f !important;
			}
		}
		.card-overlay,
		.slider-item{
			overflow:hidden;
			.card-o-btm{
				bottom:-5px;
				cursor:pointer;
				padding: 10px;
				@include ease-in-out();
				width:100%;
			}
			&:hover{
				.card-o-btm{
					bottom: 0;
				}
			}
		}
		.slider-item{
			.card-o-btm{
				bottom: 0;
			}
		}
		figure{
			margin: 0;
		}
	}
	.owl-post,
	.banner-slider{
		&.owl-carousel{
			.owl-item{
				> div {
				  cursor: pointer;
				  margin: 6% 8%;
				  transition: margin 0.4s ease;
				}
				&.center{
					> div{
					  cursor: auto;
					  margin: 0;
					}
				}
				&:not(.center){
					> div {
						&:hover{
							opacity: .75;
						}
					}
				}
			}
			.owl-dots{
				margin-top:30px;
				text-align: center;
				-webkit-tap-highlight-color: transparent;
				.owl-dot{
					display: inline-block;
					outline:none;
					zoom: 1;
					span{
						width: 30px;
						height: 3px;
						margin: 5px 7px;
						background: $color__d6;
						display: block;
						-webkit-backface-visibility: visible;
						transition: opacity .2s ease;
						border-radius: 30px;
						-webkit-user-select: none; /* Safari 3.1+ */
						-moz-user-select: none; /* Firefox 2+ */
						-ms-user-select: none; /* IE 10+ */
						user-select: none; /* Standard syntax */
					}
					&.active,
					&:hover{
						span{
							background-color: $color__7f;
						}
					}
				}
			}
			.owl-nav{
				.owl-prev,
				.owl-next{
					-webkit-user-select: none; /* Safari 3.1+ */
					-moz-user-select: none; /* Firefox 2+ */
					-ms-user-select: none; /* IE 10+ */
					user-select: none; /* Standard syntax */
					> i{
						font-size: 2em;
					}
				}
				button{
					background-color:transparent;
					color: #869791;
					display: inline-block;
					font-size: 40px;
					margin: 0;
					line-height: 300px;
					outline:none;
					padding: 0 60px !important;
					position: absolute;
					top: 0;
					bottom: 0;
					zoom: 1;
				}
				.owl-prev{
					left:0;
				}
				.owl-next{
					right:0;
				}			
			}
		}
	}

	#qqgroup-wrap{
		height: calc(100% / 2 - 80px);
		&.qqgroup-float{
			position: fixed;
			top:0;
			z-index: 1031;
			.btn-float-b{
				background-color: #fdc153;
				border-color: transparent;
				border-radius: 0;
				outline: none;		
			}
			.float-classic,
			.float-flat{
				.qqgroup-sidebox{
					width:45px;
				}
			}
			/** slider-classic ----------------*/
			.qqgroup-sidebox{
				cursor:pointer;
				position:relative;
				overflow:hidden;
			}
			.float-classic{
				.qqgroup-sidebox{
					height:260px;
					>.qqgroup-logo{
						height:100%;
						padding:5px 8px;
						position:relative;
						text-align:center;
						h3{
							@include font-size(1.5);
							font-weight:700;
							line-height:1.12em;
							margin-top:0;
							margin-bottom:5px;
							padding-top:3px;
							text-transform:uppercase;
							word-break:break-all;
							word-wrap:break-word;
						}
						i{
							font-weight:700;
						}
					}
				}
				.qqgroup-img{
					background-color: rgba(2,95,203,0.6) !important;
					min-height:450px;
					padding:7px 10px;
					width:180px;
					.qqgroup-item{
						margin:10px auto;
						-webkit-box-shadow:4px 5px 10px rgba(89,89,89,.82);
						-moz-box-shadow:4px 5px 10px rgba(89,89,89,.82);
						box-shadow:4px 5px 10px rgba(89,89,89,.82);
					}
				}
			}

			/** slider-flat ----------------*/
			.float-flat{
				.qqgroup-sidebox{height:100%;}
				.p_logo{
					padding: 8px 0;
					height: 187px;
					position: relative;
					vertical-align: middle;
					display: flex;
					align-items: center;
					&:nth-of-type(1){
						height:170px;
					}
					img{
						display: block;
						margin-left: auto;
						margin-right: auto;
						height: 100%;
					}
					
				}
				.qqgroup-img{
					background: 0 0;
					width: 181px;
					margin-left: 0;
					cursor: pointer;
					padding: 0;
					>.qqgroup-item{
						overflow: hidden;
						padding: 0 1em 0 0;  
						min-height: 150px;
						>a>img{padding:8px 0;}
					}
				}
				.boxWrap{margin-left:-178px;}
				.qq288_box{
					background-color:red;
				}
			}
			
		}
		&.qqgroup-slider{
			position: relative;
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}

	.m-banner{
		background: rgba(251, 251, 251, 0.7);
		margin: auto;
		position: fixed;
		bottom: 40px;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 2000;
		.m-float_classic{
			bottom:0;
		}
		.m-button-ad{
			min-height:33px;padding:8px 0;position:absolute;bottom:-40px;width:155px;
			.m-title{color:#fff;display:inline-block;font-weight:600;font-size:18px;margin:0;line-height:1.3}
			>i{color:#fff;display:inline-block;margin-left:8px;margin-right:10px}
		}
		.m-float_classic{
			.m-button-ad {bottom:initial;top:-40px;text-align:center;width:100%;}
		} 
		.m-banner-ad{padding:1em .7em;margin:0}
		.m-banner-flex{
			display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;
			.m-ads{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex:1 0 0%;-ms-flex:1 0 0%;flex:1 0 0%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
		}
		.m-ads-qq288,.m-ads-qq188,.m-ads-qq101,
		.m-ads-qq1x2,.m-ads-qq724,.m-ads-qqfortuna,.m-ads-801,.m-ads-882,.m-ads-808,.m-ads-828{background:rgba(0,0,0,.7)}
		.m-ads{position:relative;background-color:#fff;border:1px solid rgba(0,0,0,.125);border-radius:.25rem}
		.m-banner-flex .m-ads:not(:last-child){margin-right: 3px;}
		.m-banner-flex .m-ads:not(:first-child){margin-left: 3px;}
	}

	//Video Page
	
	.embed-container { 
		position: relative; 
		padding-bottom: 56.25%;
		overflow: hidden;
		max-width: 100%;
		height: auto;

		iframe,
		object,
		embed,
		video { 
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		video{
			background-color: #000;
		}

	} 

	/* Bootstrap table */
	table, th, td {
	    table-layout: fixed;
	}

	.modal-btn{
		position: fixed;
		z-index: 1000;
		bottom: 60%;
		right: 8%;
		cursor: pointer;
	}
}