$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__text-screen: #21759b;
$color__background-ins: #fff9c0;

$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__white:#fff;
$color__b5:#b5b5b5;
$color__ea:#eaeaea;
$color__e6:#e6e6e6;
$color__7f:#7f7f7f;
$color__22:#222222;
$color__fd:#fdc153;
$color__d7:#d7d193;
$color__67:#675c43;


//QQ288 Sets
$qq288_default: #02849c;
$qq288_cerulean: #10aec7;
$qq288_blue_stone: #005c6b;
$qq288_trans: rgba(2, 132, 156, 0.78);


//QQ188 Sets
$qq188_default: #0153ff;
$qq188_gulf_blue: #061C55;
$qq188_reso_blue: #002a80;
$qq188_trans: rgba(1, 83, 255, 0.78);

//QQ101 Sets
$qq101_default: #01740F;
$qq101_english_holly: #023606;
$qq101_celtic: #153317;
$qq101_trans: rgba(1, 116, 15, 0.78);

//QQ1x2 Sets
$qq1x2_default: #1f1f1f;
$qq1x2_blue_ribbon: #015fe7;
$qq1x2_mercury: #e1e1e1;
$qq1x2_trans: rgba(1, 95, 231, 0.78);

//QQ724 Sets
$qq724_default: #476f54;
$qq724_mine_shaft: #2f2f2f;
$qq724_bay_leaf: #6fa67f;
$qq724_trans: rgba(71, 111, 84, 0.78);

//QQfortuna Sets
$qqfortuna_default: #3f0000;
$qqfortuna_mojo: #c74547;
$qqfortuna_temptress: #2e0002;
$qqfortuna_trans: rgba(63, 0, 0, 0.78);

//QQ801 Sets
$qq801_default: #f1392f;
$qq801_congress_blue: #005395;
$qq801_regal_blue: #013878;
$qq801_trans: rgba(241, 57, 47, 0.78);

//QQ882 Sets
$qq882_default: #451465;
$qq882_purple_heart: #8e21ba;
$qq882_violet: #300a45;
$qq882_razzmatazz: #db026b;
$qq882_trans: rgba(69, 20, 101, 0.78);

//QQ808 Sets
$qq808_default: #874c00;
$qq808_brown_bramble: #542604;
$qq808_di_serria: #da954a;
$qq808_trans: rgba(135, 76, 0, 0.78);

//QQ882 Sets
$qq828_default: #ec4801;
$qq828_dark: #892c00;
$qq828_givry: #f9e2c2;
$qq828_fire: #a63201;
$qq828_trans: rgba(236, 72, 1, 0.78);

