$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$arial_rounded_mt_std_regular: "arial_rounded_mt_std_regular";
$big_noodle_titling: "big_noodle_titling";
$noto_sans_bold: "noto_sans_bold";
$noto_sans_bold_italic: "noto_sans_bold_italic";
$noto_sans_italic: "noto_sans_italic";
$noto_sans_regular: "noto_sans_regular";
$segoe_ui: "segoe_ui";
$century_gothic: "century_gothic";
$century_gothic_bold: "century_gothic_bold";