.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}
}
.gallery-icon{
	margin-bottom: 0.5em;
	img{
		margin:0 auto;
	}
}

.gallery-caption {
    @include font-size(0.75);
    font-style: italic;
	display: block;
}
