@media (min-width: 1200px) {
	.qqlanding-sites{
		.container{
			max-width: 1240px;
		}
	}
}
@media (max-width: 960px){
	.qqlanding-sites{
		.qqland-grid-2{
			.qqland-post{
				float:none;
				margin-right: 0%;
				width:100%;
			}
		}
		#site-navigation{
			 .navbar-nav{
			 	 .nav-link{
			 	 	padding-left:10px;
			 	 	padding-right:10px;
			 	 }
			 }
		 	 &.navbar-light{
		 	 	.navbar-toggler{
		 	 		border-color: rgba(255, 255, 255, 0.65);
		 	 		outline:none;
		 	 	}
				.navbar-toggler-icon{
					background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
				}
		 	 }
		}
	}
}
@media (max-width: 768px){
}
@media (max-width: 640px){}
@media only screen and (min-width:768px) and (max-width:1024px){}
@media only screen and (min-width:640px) and (max-width:768px){}
@media only screen and (min-width:320px) and (max-width:639px){}